#summaryPanel {
    width: 800px;
    margin-top: -317px;
    margin-left: -400px;
}

#fileBrowser {
    width: 388px;
    height: 76px;
    margin-left: -194px;
    margin-top: -38px;
}

#saveAs {
    width: 388px;
    height: 114px;
    margin-left: -194px;
    margin-top: -57px;
}

.panel {
    display: none;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    border: 1px solid $brand-blue;
    border-top-color: $toolbox-btn-active;
    z-index: 2;

    .panelExitButton p {
        color: white;
        cursor: pointer;
        width: 25px;
        height: 25px;
        position: absolute;
        right: 0;
        top: 0;
        text-align: center;
        border: 1px solid $brand-orange;
        border-radius: 0 0 0 4px;
        background: $brand-orange;
        margin: 0;
    }

    .content {
        padding: 0 15px 15px;
        background: white;
        cursor: default;
    }

    .description {
        padding: 5px;
        background-color: $brand-blue;
        color: $white;
    }

    .description h4 {
        color: white;
        margin: 0;
        text-align: center;
    }

    table {
        overflow: auto;
        width: 100%;
    }

    table,
    td,
    th {
        border-collapse: collapse;
    }

    td,
    th {
        text-align: center !important;
        padding: 3px !important;
        height: 2em;
    }

    .table-scroll {
        overflow: auto;
        height: 25vh;
        padding-bottom: 1vh;
    }

    #chart {
        height: 40vh;
        width: 770px;
        background-color: $brand-gray;
    }

    .draggable {
        opacity: 1;
    }
}
