@import 'screen';

.floating-panel {
  font-size: 1em;
  background-color: white;
  position: fixed;
  top: 50%;
  left: calc(50% - 7em);
  border: 1px solid #2a3052;
  border-top-color: #ddd;
  z-index: 1002;
  .panelExitButton p{
    color: white;
    cursor: pointer;
    width: 1.4em;
    height: 1.4em;
    position: absolute;
    right: 0px;
    top: 0px;
    text-align: center;
    border: 1px solid #e98024;
    border-radius: 0 0 0 4px;
    background: #e98024;
    margin: 0px;
  }

  .content {
    padding: 0 15px 15px;
    background: white;
    cursor: default;
  }

  .description {
    padding: 0.2em 2em;
    background-color: #2a3052;
    color: #fff;

    h4 {
      color: white;
      margin: 0;
      text-align: center;
    }
  }
}
