$phone: 480px;
$tablet: 801px;

$phone-screen: "only screen and (max-width : $phone)";
$tablet-screen: "only screen and (max-width : $tablet)";

$phone-screen-rotate: "only screen and (max-height : $phone)";
$tablet-screen-rotate: "only screen and (max-height : $tablet)";
