@charset "UTF-8";
.highcharts-container {
  width: 100% !important; }
  .highcharts-container svg {
    width: 100% !important; }

.highcharts-loading {
  background: transparent !important; }
  .highcharts-loading > span {
    padding: 0.5em 1em;
    border-radius: 3px;
    color: #bebebe !important;
    background: #161a24 !important; }
    .inverse .highcharts-loading > span {
      color: #161a24 !important;
      background: #bebebe !important; }

.inverse .trade-chart {
  color: #bebebe; }

.trade-chart button,
.contract-chart button {
  color: #3e3e3e; }
  .trade-chart button:hover,
  .contract-chart button:hover {
    background: rgba(42, 48, 82, 0.1); }

.inverse .trade-chart button, .inverse
.contract-chart button {
  color: #bebebe; }
  .inverse .trade-chart button:hover, .inverse
  .contract-chart button:hover {
    background: rgba(190, 190, 190, 0.1); }

@keyframes fadeIn {
  99% {
    visibility: hidden; }
  100% {
    visibility: visible; } }

.trade-chart .binary-chart-zoom-controls,
.contract-chart .binary-chart-zoom-controls {
  visibility: hidden;
  animation: 2s fadeIn !important;
  animation-fill-mode: forwards;
  transition: visibility 2s; }

.trade-chart:hover .binary-chart-zoom-controls,
.contract-chart:hover .binary-chart-zoom-controls {
  visibility: visible; }

.trade-chart {
  height: 14.5em;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  min-height: 0; }
  .trade-chart #trade-chart0,
  .trade-chart #trade-chart1,
  .trade-chart #trade-chart2,
  .trade-chart #trade-chart3,
  .trade-chart #trade-chart4 {
    flex: 1; }

.binary-chart-time-frame-picker {
  min-height: 24px; }

.binary-chart-time-frame-button {
  background: rgba(190, 190, 190, 0.25) !important;
  padding: 0 !important; }

.binary-chart-time-frame-button + .binary-chart-time-frame-button {
  margin-left: 2px; }

.binary-chart-submenu {
  border-radius: 3px;
  background: white;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.5); }

.inverse .binary-chart-submenu {
  background: #161a24; }

.binary-chart-submenu button {
  color: #3e3e3e;
  background: transparent;
  border-radius: 0; }

.binary-chart-picker-item,
.binary-chart-button {
  text-align: left;
  padding: 0.1em;
  min-height: 1em;
  min-width: 1em;
  display: flex;
  align-items: center; }
  .binary-chart-picker-item svg + span,
  .binary-chart-button svg + span {
    margin-left: 8px; }

.binary-chart-button:hover,
.binary-chart-picker-item:hover,
.binary-chart-time-frame-button:hover {
  box-shadow: 0 0 0 1px #3e3e3e; }

.inverse .binary-chart-button:hover, .inverse
.binary-chart-picker-item:hover, .inverse
.binary-chart-time-frame-button:hover {
  box-shadow: 0 0 0 1px #bebebe; }

.pressed {
  background: #2a3052 !important; }
  .pressed svg {
    fill: #bebebe; }

.binary-chart-zoom-button {
  background: rgba(42, 48, 82, 0.1) !important; }
  .binary-chart-zoom-button svg {
    fill: #2a3052;
    margin-bottom: 4px; }
  .binary-chart-zoom-button:hover {
    background: rgba(42, 48, 82, 0.2) !important;
    box-shadow: 0 0 0 1px #2a3052; }

.inverse .binary-chart-zoom-button {
  background: rgba(190, 190, 190, 0.1) !important; }
  .inverse .binary-chart-zoom-button svg {
    fill: #bebebe; }
  .inverse .binary-chart-zoom-button:hover {
    background: rgba(190, 190, 190, 0.2) !important;
    box-shadow: 0 0 0 1px #bebebe; }

.binary-chart-toolbar {
  min-height: 30px;
  margin-bottom: 2px; }

.binary-chart-toolbar > * {
  margin-right: 2px; }

.binary-chart-button {
  background: rgba(42, 48, 82, 0.1);
  border-radius: 3px;
  min-width: 1em;
  padding: 0.1em;
  flex: 1;
  align-items: center; }

.binary-chart-button svg,
.binary-chart-picker-item svg {
  width: 16px;
  height: 16px;
  fill: #161a24; }

.inverse .binary-chart-button svg, .inverse
.binary-chart-picker-item svg {
  fill: white; }

.binary-chart-info-bar {
  display: none; }

@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?23213831");
  src: url("../font/fontello.eot?23213831#iefix") format("embedded-opentype"), url("../font/fontello.woff2?23213831") format("woff2"), url("../font/fontello.woff?23213831") format("woff"), url("../font/fontello.ttf?23213831") format("truetype"), url("../font/fontello.svg?23213831#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?23213831#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-zoom-in:before {
  content: '\e800'; }

/* '' */
.icon-redo:before {
  content: '\e801'; }

/* '' */
.icon-browse:before {
  content: '\e802'; }

/* '' */
.icon-undo:before {
  content: '\e803'; }

/* '' */
.icon-summary:before {
  content: '\e804'; }

/* '' */
.icon-stop:before {
  content: '\e805'; }

/* '' */
.icon-run:before {
  content: '\e806'; }

/* '' */
.icon-close:before {
  content: '\e807'; }

/* '' */
.icon-reset:before {
  content: '\e808'; }

/* '' */
.icon-zoom-out:before {
  content: '\e809'; }

/* '' */
.icon-menu:before {
  content: '\e80a'; }

/* '' */
.icon-save:before {
  content: '\e80b'; }

/* '' */
.icon-sort:before {
  content: '\f160'; }

/* '' */
#summaryPanel {
  width: 800px;
  margin-top: -317px;
  margin-left: -400px;
  z-index: 1001; }

#fileBrowser {
  width: 388px;
  height: 76px;
  margin-left: -194px;
  margin-top: -38px; }

.panelExitButton p {
  color: #ffffff;
  cursor: pointer;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  border: 1px solid #e98024;
  border-radius: 0 0 0 4px;
  background: #e98024;
  margin: 0; }

.panel {
  display: none;
  background-color: #ffffff;
  position: fixed;
  top: 50%;
  left: 50%;
  border: 1px solid #2a3052;
  border-top-color: #dddddd;
  z-index: 1002; }
  .panel .content {
    padding: 0 15px 15px 15px;
    background: #ffffff;
    cursor: default; }
  .panel .description {
    padding: 5px;
    background-color: #2a3052;
    color: #ffffff; }
  .panel .description h4 {
    color: #ffffff;
    margin: 0;
    text-align: center; }
  .panel table {
    overflow: auto;
    width: 100%; }
  .panel table,
  .panel td,
  .panel th {
    border-collapse: collapse; }
  .panel td,
  .panel th {
    text-align: center !important;
    padding: 3px !important;
    height: 2em; }
  .panel .table-scroll {
    overflow: auto;
    height: 25vh;
    padding-bottom: 1vh; }
  .panel #chart {
    height: 14.5em;
    width: 42.5em;
    background-color: #f2f2f2; }
  .panel .draggable {
    opacity: 1; }

.floating-panel {
  font-size: 1em;
  background-color: white;
  position: fixed;
  top: 50%;
  left: calc(50% - 7em);
  border: 1px solid #2a3052;
  border-top-color: #ddd;
  z-index: 1002; }

.floating-panel .content {
  padding: 0 15px 15px 15px;
  background: white;
  cursor: default; }

.floating-panel .description {
  padding: 0.2em 2em;
  background-color: #2a3052;
  color: #fff; }

.floating-panel .description h4 {
  color: white;
  margin: 0;
  text-align: center; }

.blocklyText {
  fill: #000000 !important; }

.blocklyTreeSelected .blocklyTreeLabel {
  color: #ffffff !important; }

.blocklyTreeRow:not(.blocklyTreeSelected):hover {
  background-color: #dedede !important; }

.blocklyToolboxDiv .blocklyTreeRow {
  color: #000000; }

.blocklyEditableText tspan {
  fill: #000000 !important; }

.blocklyEditableText rect {
  fill-opacity: 1 !important; }

.blocklyFlyoutBackground {
  fill: #ffffff !important;
  fill-opacity: 1 !important;
  stroke: #dedede;
  stroke-width: 1px; }

.blocklyToolboxDiv {
  background-color: #f2f2f2 !important;
  border-width: thin;
  color: #dedede;
  border-right: 1px solid; }

.blocklyIconShape {
  fill: #2a3052 !important; }

.blocklyIconGroup:not(:hover), .blocklyIconGroupReadonly {
  opacity: 1 !important; }

.blocklyScrollbarVertical, .blocklyScrollbarHorizontal {
  display: none; }

.blocklyTreeRow {
  margin-bottom: 0px !important; }

.blocklyToolboxDiv {
  position: fixed !important;
  z-index: 200 !important;
  left: -100%;
  overflow-x: hidden !important; }

.blocklySvg {
  position: absolute; }

#toolbox {
  position: absolute;
  z-index: 100;
  right: 0;
  width: 4em;
  text-align: center;
  padding: 10px; }
  #toolbox .toolbox-button {
    float: right;
    margin-bottom: 5px;
    background-color: #f2f2f2;
    border: 1px solid #dddddd;
    padding: 2.5px 6px;
    color: #000000; }
  #toolbox .toolbox-button:hover {
    background-color: #dddddd; }
  #toolbox .toolbox-button:focus {
    outline: none; }
  #toolbox .box.is-dragover {
    background-color: grey; }

.reality-check {
  position: fixed;
  display: none;
  top: calc(50% - 7em);
  width: 96%;
  padding-bottom: 0.5em;
  left: 2%;
  background-color: white;
  z-index: 9999;
  border-radius: 0.1em; }
  .reality-check p {
    font-size: 1.2em;
    margin: 0.4em; }
  .reality-check h1 {
    margin: 0.2em; }
  .reality-check #realityDuration {
    margin-left: 0.2em; }
  .reality-check button, .reality-check a {
    float: right;
    margin-bottom: 0em;
    margin-right: 0.5em;
    position: relative; }
  .reality-check .error-msg {
    font-size: 0.8em;
    left: 50%; }

html, body {
  height: 100%;
  margin: 0em;
  max-width: 100%;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: hidden; }

#blocklyDiv {
  position: absolute;
  height: 100%;
  width: 100%; }

#center {
  position: fixed;
  width: 1em;
  height: 1em;
  top: 50%;
  left: 50%; }

.barspinner {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -5rem;
  z-index: 9999; }

.icon-remove:before {
  content: 'X'; }

#header select, #topbar select {
  color: #000;
  font-size: 1em; }

#header {
  height: 81px;
  width: 100%;
  background-color: #2a3052;
  border-top: 2px solid #15212d;
  border-bottom: 4px solid #e98024;
  font-size: 18px;
  padding: 0 20px; }

#topbar {
  background-color: #15212d;
  width: 100%;
  color: #ffffff;
  line-height: 1;
  font-size: 70%;
  text-align: right;
  padding: 3px 20px;
  display: table; }

.left-header {
  float: left; }

.right-header {
  float: right; }

#client-logged-in {
  display: none; }

.topMenuBalance {
  visibility: hidden; }

#login {
  display: none;
  margin: 0.6em 0; }

.account {
  font-size: 16px; }

.btn-primary {
  color: #ffffff !important;
  text-decoration: none !important;
  background: #2e8836 !important;
  border-color: #2e8836 !important; }

.btn-primary:active, .btn-primary:hover {
  color: #ffffff !important;
  text-decoration: none !important;
  background-color: #14602b !important;
  border-color: #14602b !important; }

.blocker {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: none;
  top: 0em;
  opacity: 0.1;
  left: 0em;
  background: black; }

#stopButton {
  display: none; }

select.tour-highlight {
  background: white; }

.actions_menu {
  display: none; }

.languages {
  z-index: 999; }

.tours {
  z-index: 999;
  position: relative;
  margin-right: 240px;
  font-size: 13px; }

#display-tour, #select-tour {
  position: absolute;
  width: 116px;
  padding: 0;
  margin: 0;
  text-align: center; }

#select-tour {
  background-color: #F2F2F2;
  border: 1px solid #DEDEDE;
  color: black;
  display: none; }

#select_language, #select-tour {
  top: -3px; }

#select-tour li {
  cursor: pointer;
  padding: 3px;
  margin: 0; }

#display-tour li, #display_language li {
  cursor: pointer;
  line-height: 0; }

#container {
  position: fixed;
  height: calc(100% - 96px);
  width: 100%;
  left: 0px;
  transition: 0.5s; }

/*# sourceMappingURL=bot-7e7279ea9c.css.map */
