@charset "UTF-8";
.highcharts-container {
  width: 100% !important; }
  .highcharts-container svg {
    width: 100% !important; }

.highcharts-loading {
  background: transparent !important; }
  .highcharts-loading > span {
    padding: 0.5em 1em;
    border-radius: 3px;
    color: #bebebe !important;
    background: #161a24 !important; }
    .inverse .highcharts-loading > span {
      color: #161a24 !important;
      background: #bebebe !important; }

.inverse .trade-chart {
  color: #bebebe; }

.trade-chart button,
.contract-chart button {
  color: #3e3e3e; }
  .trade-chart button:hover,
  .contract-chart button:hover {
    background: rgba(42, 48, 82, 0.1); }

.inverse .trade-chart button, .inverse
.contract-chart button {
  color: #bebebe; }
  .inverse .trade-chart button:hover, .inverse
  .contract-chart button:hover {
    background: rgba(190, 190, 190, 0.1); }

@keyframes fadeIn {
  99% {
    visibility: hidden; }
  100% {
    visibility: visible; } }

.trade-chart .binary-chart-zoom-controls,
.contract-chart .binary-chart-zoom-controls {
  visibility: hidden;
  animation: 2s fadeIn !important;
  animation-fill-mode: forwards;
  transition: visibility 2s; }

.trade-chart:hover .binary-chart-zoom-controls,
.contract-chart:hover .binary-chart-zoom-controls {
  visibility: visible; }

.trade-chart {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  min-width: 0;
  min-height: 0; }
  .trade-chart #trade-chart0,
  .trade-chart #trade-chart1,
  .trade-chart #trade-chart2,
  .trade-chart #trade-chart3,
  .trade-chart #trade-chart4 {
    flex: 1; }

.binary-chart-time-frame-picker {
  min-height: 24px; }

.binary-chart-time-frame-button {
  background: rgba(190, 190, 190, 0.25) !important;
  padding: 0 !important; }

.binary-chart-time-frame-button + .binary-chart-time-frame-button {
  margin-left: 2px; }

.binary-chart-submenu {
  border-radius: 3px;
  background: white;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.5); }

.inverse .binary-chart-submenu {
  background: #161a24; }

.binary-chart-submenu button {
  color: #3e3e3e;
  background: transparent;
  border-radius: 0; }

.binary-chart-picker-item,
.binary-chart-button {
  text-align: left;
  padding: 0.1em;
  min-height: 1em;
  min-width: 1em;
  display: flex;
  align-items: center; }
  .binary-chart-picker-item svg + span,
  .binary-chart-button svg + span {
    margin-left: 8px; }

.binary-chart-button:hover,
.binary-chart-picker-item:hover,
.binary-chart-time-frame-button:hover {
  box-shadow: 0 0 0 1px #3e3e3e; }

.inverse .binary-chart-button:hover, .inverse
.binary-chart-picker-item:hover, .inverse
.binary-chart-time-frame-button:hover {
  box-shadow: 0 0 0 1px #bebebe; }

.pressed {
  background: #2a3052 !important; }
  .pressed svg {
    fill: #bebebe; }

.binary-chart-zoom-button {
  background: rgba(42, 48, 82, 0.1) !important; }
  .binary-chart-zoom-button svg {
    fill: #2a3052;
    margin-bottom: 4px; }
  .binary-chart-zoom-button:hover {
    background: rgba(42, 48, 82, 0.2) !important;
    box-shadow: 0 0 0 1px #2a3052; }

.inverse .binary-chart-zoom-button {
  background: rgba(190, 190, 190, 0.1) !important; }
  .inverse .binary-chart-zoom-button svg {
    fill: #bebebe; }
  .inverse .binary-chart-zoom-button:hover {
    background: rgba(190, 190, 190, 0.2) !important;
    box-shadow: 0 0 0 1px #bebebe; }

.binary-chart-toolbar {
  min-height: 30px;
  margin-bottom: 2px; }

.binary-chart-toolbar > * {
  margin-right: 2px; }

.binary-chart-button {
  background: rgba(42, 48, 82, 0.1);
  border-radius: 3px;
  min-width: 1em;
  padding: 0.1em;
  flex: 1;
  align-items: center; }

.binary-chart-button svg,
.binary-chart-picker-item svg {
  width: 16px;
  height: 16px;
  fill: #161a24; }

.inverse .binary-chart-button svg, .inverse
.binary-chart-picker-item svg {
  fill: white; }

.binary-chart-info-bar {
  padding: 0.25em 0.5em;
  border-radius: 3px;
  background: rgba(22, 26, 36, 0.75);
  border: 1px solid #161a24;
  color: #bebebe; }
  .binary-chart-info-bar .value-row {
    font-weight: bold; }
  .binary-chart-info-bar .ohlc-row {
    text-transform: uppercase; }
  .binary-chart-info-bar > div {
    line-height: 1.5;
    display: flex; }
    .binary-chart-info-bar > div > span {
      flex: 1; }
  .inverse .binary-chart-info-bar {
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid white;
    color: #3e3e3e; }

.highcharts-tooltip {
  display: none !important; }

@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?37117122");
  src: url("../font/fontello.eot?37117122#iefix") format("embedded-opentype"), url("../font/fontello.woff2?37117122") format("woff2"), url("../font/fontello.woff?37117122") format("woff"), url("../font/fontello.ttf?37117122") format("truetype"), url("../font/fontello.svg?37117122#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?37117122#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-zoom-in:before {
  content: '\e800'; }

/* '' */
.icon-redo:before {
  content: '\e801'; }

/* '' */
.icon-browse:before {
  content: '\e802'; }

/* '' */
.icon-undo:before {
  content: '\e803'; }

/* '' */
.icon-summary:before {
  content: '\e804'; }

/* '' */
.icon-stop:before {
  content: '\e805'; }

/* '' */
.icon-run:before {
  content: '\e806'; }

/* '' */
.icon-close:before {
  content: '\e807'; }

/* '' */
.icon-reset:before {
  content: '\e808'; }

/* '' */
.icon-zoom-out:before {
  content: '\e809'; }

/* '' */
.icon-menu:before {
  content: '\e80a'; }

/* '' */
.icon-save:before {
  content: '\e80b'; }

/* '' */
.icon-edit:before {
  content: '\e80c'; }

/* '' */
.icon-left:before {
  content: '\e80e'; }

/* '' */
.icon-sort:before {
  content: '\f160'; }

/* '' */
.fixed-panel {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  display: none;
  background-color: white;
  position: fixed;
  z-index: 2; }
  .fixed-panel h4 {
    font-size: 1em; }
    @media only screen and (max-height: 801px) {
      .fixed-panel h4 {
        display: none; } }
  .fixed-panel .container {
    height: 100%; }
  .fixed-panel #chart {
    position: absolute;
    background-color: #f2f2f2;
    width: 100%;
    height: 40%;
    bottom: 6.6em; }
    @media only screen and (max-height: 480px) {
      .fixed-panel #chart {
        display: none; } }
  .fixed-panel .table-scroll {
    position: absolute;
    overflow: auto;
    width: 100%;
    height: 100%;
    max-height: calc(59% - 14em);
    bottom: calc(40% + 6em); }
    @media only screen and (max-height: 801px) {
      .fixed-panel .table-scroll {
        max-height: calc(60% - 10.5em); } }
    @media only screen and (max-height: 480px) {
      .fixed-panel .table-scroll {
        max-height: calc(100% - 4.5em);
        bottom: 0; } }
  .fixed-panel table {
    overflow: auto;
    width: 100%; }
  .fixed-panel table,
  .fixed-panel td,
  .fixed-panel th {
    border-collapse: collapse; }
  .fixed-panel td,
  .fixed-panel th {
    text-align: center !important;
    padding: 0.1em !important;
    height: 2em; }

.floating-panel {
  font-size: 1em;
  background-color: white;
  position: fixed;
  top: 50%;
  left: calc(50% - 7em);
  border: 1px solid #2a3052;
  border-top-color: #ddd;
  z-index: 1002; }
  .floating-panel .panelExitButton p {
    color: white;
    cursor: pointer;
    width: 1.4em;
    height: 1.4em;
    position: absolute;
    right: 0px;
    top: 0px;
    text-align: center;
    border: 1px solid #e98024;
    border-radius: 0 0 0 4px;
    background: #e98024;
    margin: 0px; }
  .floating-panel .content {
    padding: 0 15px 15px;
    background: white;
    cursor: default; }
  .floating-panel .description {
    padding: 0.2em 2em;
    background-color: #2a3052;
    color: #fff; }
    .floating-panel .description h4 {
      color: white;
      margin: 0;
      text-align: center; }

.blocklyText {
  fill: #000000 !important; }

.blocklyTreeLabel {
  background-color: #f2f2f2 !important;
  text-align: left !important;
  color: #000000 !important;
  font-size: 1em !important;
  width: 7em !important; }

.blocklyTreeSelected > .blocklyTreeLabel {
  font-weight: bold !important; }

.blocklyTreeRow {
  margin-bottom: 0px !important;
  height: 1.2em !important; }
  @media only screen and (max-width: 801px) {
    .blocklyTreeRow {
      height: 1.5em !important; } }

.blocklyTreeRow:not(.blocklyTreeSelected):hover {
  background-color: #f2f2f2 !important;
  color: #000000 !important;
  text-decoration: underline !important; }

.blocklyEditableText tspan {
  fill: #000000 !important; }

.blocklyEditableText rect {
  fill-opacity: 1 !important; }

.blocklyFlyoutBackground {
  fill: #ffffff !important;
  fill-opacity: 1 !important;
  stroke: #dedede;
  stroke-width: 0.1em; }

.blocklyIconShape {
  fill: #2a3052 !important; }

.blocklyIconGroup:not(:hover), .blocklyIconGroupReadonly {
  opacity: 1 !important; }

.blocklyScrollbarVertical, .blocklyScrollbarHorizontal {
  display: none; }

.blocklyToolboxDiv {
  position: fixed !important;
  overflow-x: hidden !important;
  transition: 0.5s;
  background-color: #f2f2f2 !important;
  border-width: thin;
  color: #dedede;
  left: -100% !important;
  border-right: 1px solid;
  height: calc(100% - 6.5em) !important; }
  .blocklyToolboxDiv.shownToolbox {
    left: 0em !important; }

.blocklyFlyoutBackground {
  transition: 0.5s; }

.blocklyTreeSelected > .blocklyTreeIconOpen {
  background-position: -16px -1px !important; }

.blocklyTreeSelected > .blocklyTreeIconClosedLtr {
  background-position: -32px -1px !important; }

.blocklySvg {
  left: 0em;
  position: absolute; }

.blocklyMenu {
  overflow: scroll; }

#toolbox {
  position: absolute;
  left: 0;
  width: 6em;
  text-align: center;
  z-index: 1;
  display: none;
  padding-right: 0.5em;
  overflow-x: hidden;
  overflow-y: scroll;
  height: calc(100% - 6.5em); }
  #toolbox * {
    margin-bottom: 0.1em; }
  #toolbox button {
    background-color: #f2f2f2;
    border: 0.1em solid #dddddd;
    padding: 0.5em 0.1em;
    width: 100%;
    text-align: left;
    font-size: 1em;
    color: #000000; }
  #toolbox button:hover {
    background-color: #dddddd; }
  #toolbox button:focus {
    outline: none; }
  #toolbox .box.is-dragover {
    background-color: grey; }
  #toolbox #openMenu {
    border-bottom-width: thick;
    margin-left: 0em;
    margin-bottom: 0.5em; }

.left-header {
  float: left; }
  @media only screen and (max-width: 480px) {
    .left-header .logo-parent {
      padding: 0em; } }

.right-header {
  float: right;
  width: 23%; }
  .right-header .main-nav {
    width: 8em; }
  .right-header .main-nav > li > ul a li {
    padding: 0.5em 0; }

.middle-header {
  float: left; }
  .middle-header button.top-menu {
    padding: 1.6em 1em;
    font-size: 1.1em;
    background-color: #2a3052; }
  .middle-header .collapse-menu {
    display: inline-flex; }
    @media only screen and (max-width: 480px) {
      .middle-header .collapse-menu {
        display: block;
        padding: 0em;
        position: absolute;
        z-index: 3; } }
    @media only screen and (max-width: 480px) {
      .middle-header .collapse-menu.hiddenMenu {
        left: -100%; } }
    .middle-header .collapse-menu button.top-menu {
      margin-right: 0.2em; }
      @media only screen and (max-width: 480px) {
        .middle-header .collapse-menu button.top-menu {
          padding: 0.5em 1em;
          display: block;
          width: 7em;
          text-align: left; } }
      .middle-header .collapse-menu button.top-menu span {
        display: none; }
        @media only screen and (max-width: 480px) {
          .middle-header .collapse-menu button.top-menu span {
            display: inline-block; } }
    .middle-header .collapse-menu button:hover.top-menu {
      background-color: #15212d; }
      .middle-header .collapse-menu button:hover.top-menu span {
        display: inline-block; }
  .middle-header #mobileMenu {
    font-size: 1.1em;
    display: none; }
    @media only screen and (max-width: 480px) {
      .middle-header #mobileMenu {
        display: block; } }

#client-logged-in {
  display: none; }

.topMenuBalance {
  visibility: hidden; }

#login {
  display: none;
  margin: 0.6em 0; }

.accountSelect {
  float: right;
  margin-right: 1em; }
  .accountSelect .account {
    width: 8em;
    float: right;
    font-size: 1em; }

.btn-primary {
  color: #ffffff !important;
  text-decoration: none !important;
  background: #2e8836 !important;
  border-color: #2e8836 !important; }

.btn-primary:active, .btn-primary:hover {
  color: #ffffff !important;
  text-decoration: none !important;
  background-color: #14602b !important;
  border-color: #14602b !important; }

#blocklyDiv {
  position: absolute;
  height: calc(100% - 6.5em);
  width: 100%; }

#center {
  position: fixed;
  width: 1em;
  height: 1em;
  top: 50%;
  left: 50%; }

.barspinner {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 9999; }

.icon-remove:before {
  content: 'X'; }

#topbar select {
  color: #000;
  font-size: 1em;
  float: right;
  margin-left: 0.1em; }

#header {
  width: 100%;
  height: 6.1em; }

#topbar {
  background-color: #15212d;
  width: 100%;
  color: #ffffff;
  text-align: right;
  padding: 0.2em 0.1em;
  display: table;
  float: right; }

.blocker {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: none;
  top: 0px;
  opacity: 0.3;
  left: 0px;
  background: black; }

.reality-check {
  position: fixed;
  display: none;
  top: calc(50% - 7em);
  width: 96%;
  padding-bottom: 0.5em;
  left: 2%;
  background-color: white;
  z-index: 9999;
  border-radius: 0.1em; }
  .reality-check p {
    font-size: 1.2em;
    margin: 0.4em; }
  .reality-check h1 {
    margin: 0.2em; }
  .reality-check #realityDuration {
    margin-left: 0.2em; }
  .reality-check button {
    left: 50%;
    margin-bottom: 0em;
    margin-left: -5em;
    position: relative; }
  .reality-check .error-msg {
    font-size: 0.8em;
    left: 50%; }

#stopButton {
  display: none; }

select.tour-highlight {
  background: white; }

#container {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0em;
  transition: 0.5s;
  z-index: 1; }

html, body {
  height: 100%;
  margin: 0em;
  max-width: 100%;
  max-height: 100%;
  font-size: 1em;
  overflow-x: hidden;
  overflow-y: hidden; }

*, :before, :after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

/*# sourceMappingURL=bot-7daaedf61f.css.map */
