@charset "UTF-8";
@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?50924258");
  src: url("../font/fontello.eot?50924258#iefix") format("embedded-opentype"), url("../font/fontello.woff2?50924258") format("woff2"), url("../font/fontello.woff?50924258") format("woff"), url("../font/fontello.ttf?50924258") format("truetype"), url("../font/fontello.svg?50924258#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?50924258#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-zoom-in:before {
  content: '\e800'; }

/* '' */
.icon-redo:before {
  content: '\e801'; }

/* '' */
.icon-browse:before {
  content: '\e802'; }

/* '' */
.icon-undo:before {
  content: '\e803'; }

/* '' */
.icon-summary:before {
  content: '\e804'; }

/* '' */
.icon-stop:before {
  content: '\e805'; }

/* '' */
.icon-run:before {
  content: '\e806'; }

/* '' */
.icon-close:before {
  content: '\e807'; }

/* '' */
.icon-reset:before {
  content: '\e808'; }

/* '' */
.icon-zoom-out:before {
  content: '\e809'; }

/* '' */
.icon-menu:before {
  content: '\e80a'; }

/* '' */
.icon-save:before {
  content: '\e80b'; }

/* '' */
.icon-edit:before {
  content: '\e80c'; }

/* '' */
.icon-down-dir:before {
  content: '\e80d'; }

/* '' */
.icon-left:before {
  content: '\e80e'; }

/* '' */
.icon-eye:before {
  content: '\e80f'; }

/* '' */
.icon-execute:before {
  content: '\e810'; }

/* '' */
.icon-plus:before {
  content: '\e811'; }

/* '' */
.icon-sort:before {
  content: '\f160'; }

/* '' */
.floating-panel {
  font-size: 1em;
  background-color: white;
  position: fixed;
  top: 50%;
  left: calc(50% - 7em);
  border: 1px solid #2a3052;
  border-top-color: #ddd;
  z-index: 1002; }
  .floating-panel .panelExitButton p {
    color: white;
    cursor: pointer;
    width: 1.4em;
    height: 1.4em;
    position: absolute;
    right: 0px;
    top: 0px;
    text-align: center;
    border: 1px solid #e98024;
    border-radius: 0 0 0 4px;
    background: #e98024;
    margin: 0px; }
  .floating-panel .content {
    padding: 0 15px 15px;
    background: white;
    cursor: default; }
  .floating-panel .description {
    padding: 0.2em 2em;
    background-color: #2a3052;
    color: #fff; }
    .floating-panel .description h4 {
      color: white;
      margin: 0;
      text-align: center; }

.highcharts-container {
  width: 100% !important; }
  .highcharts-container svg {
    width: 100% !important; }

.highcharts-loading {
  background: transparent !important; }
  .highcharts-loading > span {
    padding: 0.5em 1em;
    border-radius: 3px;
    color: #bebebe !important;
    background: #161a24 !important; }
    .inverse .highcharts-loading > span {
      color: #161a24 !important;
      background: #bebebe !important; }

.inverse .trade-chart {
  color: #bebebe; }

.trade-chart button,
.contract-chart button {
  color: #3e3e3e; }
  .trade-chart button:hover,
  .contract-chart button:hover {
    background: rgba(42, 48, 82, 0.1); }

.inverse .trade-chart button, .inverse
.contract-chart button {
  color: #bebebe; }
  .inverse .trade-chart button:hover, .inverse
  .contract-chart button:hover {
    background: rgba(190, 190, 190, 0.1); }

@keyframes fadeIn {
  99% {
    visibility: hidden; }
  100% {
    visibility: visible; } }

.trade-chart .binary-chart-zoom-controls,
.contract-chart .binary-chart-zoom-controls {
  visibility: hidden;
  animation: 2s fadeIn !important;
  animation-fill-mode: forwards;
  transition: visibility 2s; }

.trade-chart:hover .binary-chart-zoom-controls,
.contract-chart:hover .binary-chart-zoom-controls {
  visibility: visible; }

.trade-chart {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  min-height: 0; }
  .trade-chart #trade-chart0,
  .trade-chart #trade-chart1,
  .trade-chart #trade-chart2,
  .trade-chart #trade-chart3,
  .trade-chart #trade-chart4 {
    flex: 1; }

.binary-chart-time-frame-picker {
  min-height: 24px; }

.binary-chart-time-frame-button {
  background: rgba(190, 190, 190, 0.25) !important;
  padding: 0 !important; }

.binary-chart-time-frame-button + .binary-chart-time-frame-button {
  margin-left: 2px; }

.binary-chart-submenu {
  border-radius: 3px;
  background: white;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.5); }

.inverse .binary-chart-submenu {
  background: #161a24; }

.binary-chart-submenu button {
  color: #3e3e3e;
  background: transparent;
  border-radius: 0; }

.binary-chart-picker-item,
.binary-chart-button {
  text-align: left;
  padding: 0.1em;
  min-height: 1em;
  min-width: 1em;
  display: flex;
  align-items: center; }
  .binary-chart-picker-item svg + span,
  .binary-chart-button svg + span {
    margin-left: 8px; }

.binary-chart-button:hover,
.binary-chart-picker-item:hover,
.binary-chart-time-frame-button:hover {
  box-shadow: 0 0 0 1px #3e3e3e; }

.inverse .binary-chart-button:hover, .inverse
.binary-chart-picker-item:hover, .inverse
.binary-chart-time-frame-button:hover {
  box-shadow: 0 0 0 1px #bebebe; }

.pressed {
  background: #2a3052 !important; }
  .pressed svg {
    fill: #bebebe; }

.binary-chart-zoom-button {
  background: rgba(42, 48, 82, 0.1) !important; }
  .binary-chart-zoom-button svg {
    fill: #2a3052;
    margin-bottom: 4px; }
  .binary-chart-zoom-button:hover {
    background: rgba(42, 48, 82, 0.2) !important;
    box-shadow: 0 0 0 1px #2a3052; }

.inverse .binary-chart-zoom-button {
  background: rgba(190, 190, 190, 0.1) !important; }
  .inverse .binary-chart-zoom-button svg {
    fill: #bebebe; }
  .inverse .binary-chart-zoom-button:hover {
    background: rgba(190, 190, 190, 0.2) !important;
    box-shadow: 0 0 0 1px #bebebe; }

.binary-chart-toolbar {
  min-height: 30px;
  margin-bottom: 2px; }

.binary-chart-toolbar > * {
  margin-right: 2px; }

.binary-chart-button {
  background: rgba(42, 48, 82, 0.1);
  border-radius: 3px;
  min-width: 1em;
  padding: 0.1em;
  flex: 1;
  align-items: center; }

.binary-chart-button svg,
.binary-chart-picker-item svg {
  width: 16px;
  height: 16px;
  fill: #161a24; }

.inverse .binary-chart-button svg, .inverse
.binary-chart-picker-item svg {
  fill: white; }

.binary-chart-info-bar {
  display: none; }

.report {
  width: 100%;
  height: 100%;
  right: 0;
  display: none;
  background-color: white;
  z-index: 2;
  position: absolute; }
  .report h4 {
    font-size: 1em; }
    @media only screen and (max-height: 801px) {
      .report h4 {
        display: none; } }
  .report .container {
    height: 100%; }
  .report #chart {
    background: #f2f2f2;
    width: 100%;
    height: calc((100% - 5em)/2); }
    @media only screen and (max-height: 480px) {
      .report #chart {
        display: none; } }
    .report #chart .trade-chart {
      height: 100%; }
  .report .table-scroll {
    overflow: auto;
    width: 100%;
    height: calc((100% - 5em)/2); }
    @media only screen and (max-height: 480px) {
      .report .table-scroll {
        height: calc(100% - 5em); } }
  .report table {
    overflow: auto;
    width: 100%; }
  .report table,
  .report td,
  .report th {
    border-collapse: collapse; }
  .report td,
  .report th {
    text-align: center !important;
    padding: 0.1em !important;
    height: 2em; }

.blocklyText {
  fill: #000000 !important; }

.blocklyTreeLabel {
  background-color: #f2f2f2 !important;
  text-align: left !important;
  color: #000000 !important;
  font-size: 1em !important;
  width: 7em !important; }

.blocklyTreeSelected > .blocklyTreeLabel {
  font-weight: bold !important; }

.blocklyTreeRow {
  margin-bottom: 0px !important;
  height: 1.2em !important; }
  @media only screen and (max-width: 801px) {
    .blocklyTreeRow {
      height: 1.5em !important; } }

.blocklyTreeRow:not(.blocklyTreeSelected):hover {
  background-color: #f2f2f2 !important;
  color: #000000 !important;
  text-decoration: underline !important; }

.blocklyEditableText tspan {
  fill: #000000 !important; }

.blocklyEditableText rect {
  fill-opacity: 1 !important; }

.blocklyFlyoutBackground {
  fill: #ffffff !important;
  fill-opacity: 1 !important;
  stroke: #dedede;
  stroke-width: 0.1em; }

.blocklyIconShape {
  fill: #2a3052 !important; }

.blocklyIconGroup:not(:hover), .blocklyIconGroupReadonly {
  opacity: 1 !important; }

.blocklyScrollbarVertical, .blocklyScrollbarHorizontal {
  display: none; }

.blocklyToolboxDiv {
  position: fixed !important;
  overflow-x: hidden !important;
  transition: 0.5s;
  background-color: #f2f2f2 !important;
  border-width: thin;
  color: #dedede;
  left: -100% !important;
  border-right: 1px solid;
  height: calc(100% - 7.7em) !important;
  z-index: 1; }
  .blocklyToolboxDiv.shownToolbox {
    left: 0em !important; }

.blocklyFlyoutBackground {
  transition: 0.5s; }

.blocklyTreeSelected > .blocklyTreeIconOpen {
  background-position: -16px -1px !important; }

.blocklyTreeSelected > .blocklyTreeIconClosedLtr {
  background-position: -32px -1px !important; }

.blocklySvg {
  left: 0em;
  position: absolute; }

.blocklyMenu {
  overflow: scroll; }

#toolbox {
  position: absolute;
  top: 2em;
  left: 0;
  width: 6em;
  text-align: center;
  z-index: 1;
  display: none;
  padding-right: 0.5em;
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100% - 2.7em);
  margin-top: 0.2em; }
  #toolbox * {
    margin-bottom: 0.1em; }
  #toolbox button {
    background-color: #f2f2f2;
    border: 0.1em solid #dddddd;
    padding: 0.5em 0.1em;
    width: 100%;
    text-align: left;
    font-size: 1em;
    color: #000000; }
  #toolbox button:hover {
    background-color: #dddddd; }
  #toolbox button:focus {
    outline: none; }
  #toolbox .box.is-dragover {
    background-color: grey; }
  #toolbox #openMenu {
    border-bottom-width: thick;
    margin-left: 0em;
    margin-bottom: 0.5em; }

#header .left-header {
  float: left;
  height: 4.6em; }

#header .right-header {
  float: right;
  height: 4.6em;
  width: 23%;
  padding-right: 1em; }
  #header .right-header .main-nav {
    width: 8em; }
  #header .right-header .main-nav > li > ul a li {
    padding: 0.5em 0; }

#header .middle-header {
  height: 4.6em;
  float: left; }
  #header .middle-header button.top-menu {
    padding: 1.6em 1em;
    font-size: 1.1em;
    background-color: #2a3052; }
  #header .middle-header .collapse-menu {
    display: inline-flex; }
    @media only screen and (max-width: 480px) {
      #header .middle-header .collapse-menu {
        display: block;
        padding: 0em;
        position: absolute;
        z-index: 10; } }
    @media only screen and (max-width: 480px) {
      #header .middle-header .collapse-menu.hiddenMenu {
        left: -100%; } }
    #header .middle-header .collapse-menu button.top-menu {
      margin-right: 0.2em; }
      @media only screen and (max-width: 480px) {
        #header .middle-header .collapse-menu button.top-menu {
          padding: 0.5em 1em;
          display: block;
          width: 7em;
          text-align: left; } }
      #header .middle-header .collapse-menu button.top-menu span {
        display: none; }
        @media only screen and (max-width: 480px) {
          #header .middle-header .collapse-menu button.top-menu span {
            display: inline-block; } }
    #header .middle-header .collapse-menu button:hover.top-menu {
      background-color: #15212d; }
      #header .middle-header .collapse-menu button:hover.top-menu span {
        display: inline-block; }
  #header .middle-header #mobileMenu {
    font-size: 1.1em;
    display: none; }
    @media only screen and (max-width: 480px) {
      #header .middle-header #mobileMenu {
        display: block; } }

#header #account-list {
  display: none;
  float: right;
  margin-right: 1em; }
  #header #account-list .account {
    width: 8em;
    float: right;
    font-size: 1em; }

#header .topMenuBalance {
  visibility: hidden; }

#header #login {
  display: none;
  margin: 0.6em 0; }

#header .btn-primary {
  color: #ffffff !important;
  text-decoration: none !important;
  background: #2e8836 !important;
  border-color: #2e8836 !important; }

#header .btn-primary:active, #header .btn-primary:hover {
  color: #ffffff !important;
  text-decoration: none !important;
  background-color: #14602b !important;
  border-color: #14602b !important; }

.languages {
  z-index: 999; }

.tours {
  z-index: 999;
  position: relative;
  margin-right: 240px;
  font-size: 13px; }

#display-tour, #select-tour {
  position: absolute;
  width: 116px;
  padding: 0;
  margin: 0;
  text-align: center; }

#select-tour {
  background-color: #F2F2F2;
  border: 1px solid #DEDEDE;
  color: black;
  display: none; }

#select_language, #select-tour {
  top: -3px; }

#select-tour li {
  cursor: pointer;
  padding: 3px;
  margin: 0; }

#display-tour li, #display_language li {
  cursor: pointer;
  line-height: 0; }

#topbar .right-header {
  float: right; }

.edit-mode-toggle {
  cursor: pointer;
  margin: 0.2em; }
  .edit-mode-toggle label {
    margin: 0em; }
  .edit-mode-toggle span {
    font-size: 1em;
    color: #000000; }
  .edit-mode-toggle .switch {
    position: relative;
    display: inline-block;
    width: 2.4em;
    height: 1.15em;
    margin-top: 0.05em; }
    .edit-mode-toggle .switch input {
      display: none; }
  .edit-mode-toggle .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    /* Rounded sliders */ }
    .edit-mode-toggle .slider:before {
      position: absolute;
      content: "";
      height: 1em;
      width: 1em;
      left: 0.15em;
      bottom: 0.1em;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s; }
    .edit-mode-toggle .slider.round {
      border-radius: 1.5em; }
      .edit-mode-toggle .slider.round:before {
        border-radius: 50%; }
  .edit-mode-toggle input:checked + .slider {
    background-color: #e98024; }
  .edit-mode-toggle input:focus + .slider {
    box-shadow: 0 0 0.1em #e98024; }
  .edit-mode-toggle input:checked + .slider:before {
    -webkit-transform: translateX(1.1em);
    -ms-transform: translateX(1.1em);
    transform: translateX(1.1em); }

.view-menu {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 1.4em;
  background: #e98024; }
  .view-menu * {
    color: #000000; }
  .view-menu:after {
    position: absolute;
    content: "";
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 0.15em solid #d1d1d1;
    z-index: 3; }
  .view-menu button {
    position: relative;
    border-radius: inherit;
    background: linear-gradient(to bottom, #f2f2f2 50%, #d1d1d1 100%);
    font-size: 1em;
    width: 5.5em;
    padding: 0.1em;
    padding-bottom: 0.27em;
    text-align: left;
    display: block;
    float: left;
    margin-right: 0.1em;
    z-index: 4; }
    .view-menu button.selected {
      background: #ffffff; }
  .view-menu button:hover {
    background: #ffffff; }
    .view-menu button:hover span {
      display: inline-block; }

.reality-check {
  position: fixed;
  display: none;
  top: calc(50% - 7em);
  width: 96%;
  padding-bottom: 0.5em;
  left: 2%;
  background-color: white;
  z-index: 9999;
  border-radius: 0.1em; }
  .reality-check p {
    font-size: 1.2em;
    margin: 0.4em; }
  .reality-check h1 {
    margin: 0.2em; }
  .reality-check #realityDuration {
    margin-left: 0.2em; }
  .reality-check button, .reality-check a {
    float: right;
    margin-bottom: 0em;
    margin-right: 0.5em;
    position: relative; }
  .reality-check .error-msg {
    font-size: 0.8em;
    left: 50%; }

.controls .edit-mode-toggle {
  position: absolute;
  z-index: 1; }

.controls .zoom-controls {
  z-index: 1;
  position: absolute;
  right: 0em;
  margin-top: 1.5em; }
  .controls .zoom-controls button {
    padding: 0.5em 1em;
    font-size: 1.5em;
    background: transparent;
    color: black;
    display: block; }

#blocklyDiv {
  position: absolute;
  height: 100%;
  width: 100%; }

#container {
  position: fixed;
  height: calc(100% - 6.5em);
  width: 100%;
  transition: 0.5s;
  z-index: 1; }

#center {
  position: fixed;
  width: 1em;
  height: 1em;
  top: 50%;
  left: 50%; }

.barspinner {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 9999; }

.icon-remove:before {
  content: 'X'; }

#topbar select {
  color: #000;
  font-size: 1em;
  margin-left: 0.1em; }

#header {
  width: 100%;
  height: 6.1em;
  border-bottom: 0em; }

#topbar {
  background-color: #15212d;
  width: 100%;
  color: #ffffff;
  text-align: right;
  padding: 0.2em 0.1em;
  display: table;
  float: right; }

.blocker {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: none;
  top: 0px;
  opacity: 0.3;
  left: 0px;
  background: black; }

#stopButton {
  display: none; }

#login {
  float: right;
  width: 3em;
  margin: 1em; }

select.tour-highlight {
  background: white; }

html, body {
  height: 100%;
  margin: 0em;
  max-width: 100%;
  max-height: 100%;
  font-size: 1em;
  overflow-x: hidden;
  overflow-y: hidden; }

*, :before, :after {
  outline: none;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

/*# sourceMappingURL=bot-10dd7d0cd0.css.map */
