@import 'colors';

.inverse .trade-chart {
    color: $COLOR_INVERSE_TEXT;
}

.trade-chart {
    color: $COLOR_TEXT;

    button {
        color: $COLOR_TEXT;

        &:hover {
            background: rgba($COLOR_BRAND_BLUE, 0.1) !important;
        }
    }

    .inverse & button {
        color: $COLOR_INVERSE_TEXT;

        &:hover {
            background: rgba($COLOR_INVERSE_TEXT, 0.1) !important;
        }
    }

    button {
        padding: 0 5px;
    }

    .binary-chart-time-frame-picker {
        height: 2em;
    }

    .binary-chart-time-frame-picker button {
        background: rgba($COLOR_INVERSE_TEXT, 0.25) !important;
        margin-right: 2px;
    }

    .binary-chart-submenu {
        border-radius: $BORDER_RADIUS;
        background: $COLOR_BG;
    }

    .inverse .binary-chart-submenu {
        background: $COLOR_INVERSE_BG;
    }

    .binary-chart-submenu button {
        color: $COLOR_TEXT;
        background: transparent;
        border-radius: 0;
    }

    .binary-chart-picker-item {
        text-align: left;
        padding: 10px;
    }

    .pressed {
        background: $COLOR_BRAND_BLUE !important;

        svg {
            fill: $COLOR_INVERSE_TEXT;
        }
    }

    .binary-chart-zoom-button {
        opacity: 0.75;
        background: rgba($COLOR_BRAND_BLUE, 0.25) !important;

        &:hover {
            opacity: 1;
        }
    }

    .inverse .binary-chart-zoom-button {
        opacity: 0.75;
        background: rgba($COLOR_INVERSE_TEXT, 0.25) !important;

        &:hover {
            opacity: 1;
        }
    }
}

.binary-chart-toolbar {
    margin-bottom: 4px;
}

.binary-chart-toolbar > * {
    margin-right: 2px;
}

.binary-chart-button {
    background: rgba($COLOR_BRAND_BLUE, 0.1);
    border-radius: $BORDER_RADIUS;
}
