<div class="dbot-banner eu-hide invisible">
    <div class="dbot-banner__separator"></div>
        <div class="dbot-banner__icon any-show invisible">
            <a href="https://bot.deriv.com/" target="_blank">
                <img src="./image/bbot-to-deriv-banner-en.svg">
            </a>    
        </div>
        <div class="dbot-banner__icon pt-show invisible">
            <a href="https://bot.deriv.com/?l=pt" target="_blank">
                <img src="./image/bbot-to-deriv-banner-pt.svg">
            </a>    
        </div>
</div>