<div class="dbot-banner">
    <div class="dbot-banner__separator"></div>
        <div class="dbot-banner__icon">
            <a href="https://deriv.com/interim/deriv/?utm_source=binary-bot&utm_medium=referral&utm_campaign=deriv-launch" target="_blank">
                <img src="./image/d-bot.svg">
            </a>
        </div>
    </a>
    <div class="dbot-banner__ad">
        <a href="https://deriv.com/interim/deriv/?utm_source=binary-bot&utm_medium=referral&utm_campaign=deriv-launch" target="_blank">
            <div class="dbot-banner__ad-title" data-i18n-text="Experience our"></div>
            <div class="dbot-banner__ad-subtitle" data-i18n-text="new bot builder on Deriv"></div>
        </a>
    </div>
    <a class="dbot-banner__button" href="https://deriv.com/interim/deriv/?utm_source=binary-bot&utm_medium=referral&utm_campaign=deriv-launch" target="_blank" data-i18n-text="Learn more"></a>
</div>
