<div class="dbot-banner eu-hide invisible">
    <div class="dbot-banner__separator"></div>
    <!--
    TODO: Whenever banners for all languages were added replace "any-show" with "en-show" and add the related language section.
    -->
        <div class="dbot-banner__icon any-show invisible">
            <a href="https://deriv.com/interim/dbot/?utm_source=binary-bot&utm_medium=referral&utm_campaign=deriv-launch" target="_blank">
                <img src="./image/web-banner-english.svg">
            </a>    
        </div>
        <div class="dbot-banner__icon pt-show invisible">
            <a href="https://deriv.com/pt/interim/dbot/?utm_source=binary-bot&utm_medium=referral&utm_campaign=deriv-launch" target="_blank">
                <img src="./image/web-banner-portuguese.svg">
            </a>    
        </div>
</div>