	<span class="language-select" style="display: none">
		<select id="language">
			<option value="zh_tw">繁體中文</option>
			<option value="de">Deutsch</option>
			<option value="id">Bahasa Indonesia</option>
			<option value="zh_cn">简体中文</option>
			<option value="it">Italiano</option>
			<option value="vi">Vietnamese</option>
			<option value="pl">Polish</option>
			<option value="ru">Русский</option>
			<option value="pt">Português</option>
			<option value="es">Español</option>
			<option value="fr">Français</option>
			<option value="en" selected="selected">English</option>
		</select>
	</span>

