<div class="languages">
  <ul id="display_language">
    <li>
      <span class="world world-white"></span>
      <span class="language"></span>
      <span class="nav-caret"></span>
    </li>
  </ul>
  <ul id="select_language">
    <li>
      <span class="world world-black"></span>
        <span class="language"></span>
      <span class="nav-caret"></span>
    </li>
    <li class="en">English</li>
    <li class="fr">Français</li>
    <li class="id">Indonesia</li>
    <li class="pl">Polish</li>
    <li class="pt">Português</li>
    <li class="ru">Русский</li>
    <li class="zh_cn">简体中文</li>
    <li class="zh_tw">繁體中文</li>
    <li class="es">Español</li>
    <li class="it">Italiano</li>
    <li class="vi">Tiếng Việt</li>
  </ul>
</div>
