<div id="movetoderiv_language_switcher" class="languages">
  <ul id="display_language">
    <li class="displaying_language_mtd">
      <div class="language_background_flag"></div>
      <span class="language actual_flag"></span>
      <span class="nav-caret"></span>
    </li>
  </ul>
  <ul id="select_language" class="language_list border_hide_mtd">
    <li class="hide_lang">
      <span class="world world-black"></span>
        <span class="language"></span>
      <span class="nav-caret"></span>
    </li>
    <li id="show_lang" class="en"><img class="language_flag" src="./image/english-flag.png"><div class="language_text">English</div></li>
    <li id="show_lang" class="es"><img class="language_flag" src="./image/spain-flag.png"><div class="language_text">Español</div></li>
    <li id="show_lang" class="id"><img class="language_flag" src="./image/indonesia-flag.png"><div class="language_text">Indonesia</div></li>
    <li id="show_lang" class="pt"><img class="language_flag" src="./image/portugal-flag.png"><div class="language_text">Português</div></li>
  </ul>
</div>
