<div class="languages">
  <ul id="display_language">
    <li>
      <span class="world world-white"></span>
      <span class="language"></span>
      <span class="nav-caret"></span>
    </li>
  </ul>
  <ul id="select_language">
    <li>
      <span class="world world-black"></span>
        <span class="language"></span>
      <span class="nav-caret"></span>
    </li>
<li class="en">English</li>
<li class="es">Español</li>
<li class="id">Indonesia</li>
<li class="pt">Português</li>
  </ul>
</div>
