@import 'color';
@import 'screen';

.blocklyText {
  fill: $black !important;
}

.blocklyTreeLabel {
  background-color: $brand-gray !important;
  text-align: left !important;
  color: $black !important;
  font-size: 1em !important;
  width: 7em !important;
}

.blocklyTreeSelected>.blocklyTreeLabel {
  font-weight: bold !important;
}

.blocklyTreeRow {
  margin-bottom: 0px !important;
  height: 1.2em !important;
  @media #{$tablet-screen} {
    height: 1.5em !important;
  }
}

.blocklyTreeRow:not(.blocklyTreeSelected):hover {
  background-color: $brand-gray !important;
  color: $black !important;
  text-decoration: underline !important;
}

.blocklyEditableText tspan {
  fill: $black !important;
}

.blocklyEditableText rect {
  fill-opacity: 1 !important;
}

.blocklyFlyoutBackground {
  fill: $white !important;
  fill-opacity: 1 !important;
  stroke: $brand-dark-gray;
  stroke-width: 0.1em;
}

.blocklyIconShape {
  fill: $brand-blue !important;
}

.blocklyIconGroup:not(:hover), .blocklyIconGroupReadonly {
  opacity: 1 !important;
}

.blocklyScrollbarVertical, .blocklyScrollbarHorizontal{
  display: none;
}

.blocklyToolboxDiv {
  position: fixed !important;
  overflow-x: hidden !important;
  transition: 0.5s;
  background-color: $brand-gray !important;
  border-width: thin;
  color: $brand-dark-gray;
  left: -100% !important;
  border-right: 1px solid;
  height: calc(100% - 7.7em) !important;
  z-index: 1;
  &.shownToolbox {
    left: 0em !important	;
  }
}

.blocklyFlyoutBackground {
  transition: 0.5s;
}

.blocklyTreeSelected>.blocklyTreeIconOpen {
  background-position: -16px -1px !important;
}

.blocklyTreeSelected>.blocklyTreeIconClosedLtr {
  background-position: -32px -1px !important;
}

.blocklySvg {
  left: 0em;
  position: absolute;
}

.blocklyMenu {
  overflow: scroll;
}
