.carousel-title {
    display: flex;
    align-items: center;
    flex-direction: column;

    &__content {
        max-width: 992px;
    }

    h1 {
        text-align: center;
        margin-top: 80px;
        margin-bottom: 40px;
        font: 700 3rem $font-IBM;
        line-height: 4rem;
        color: $header-color;

        @include for-size(mobile) {
            font: 700 1.5rem $font-IBM;
            text-align: center;
            padding: 0 2rem;
        }
    }
}

.carousel_section {

    &__desktop {
        @media (max-width: 768px) {
            display: none;
        }
    }

    &__mobile {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width: 768px) {
            display: none;
        }
    }

    &__content {
        max-width: 996px;
        display: flex;
        justify-content: center;

        h1 {
            text-align: center;
            margin-bottom: 1.5rem;
            font: 700 3rem $font-IBM;
            line-height: 4rem;
            color: $header-color;

            @include for-size(mobile) {
                font: 700 1.5rem $font-IBM;
                text-align: center;
                padding: 0 2rem;
            }
        }

    }

    &__slide_img {
        max-width: 384px;

        @include for-size(mobile) {
            max-width: 318px;
            
        }
    }

    &__arrow-btn {
        text-transform: none;
        padding: 10px 12px 10px 16px;
        font-size: 14px;
        font-weight: 700;
        width: 131px;
        color: #FF444F;
        background: #FFFFFF;
        border-radius: 100px;
        filter: drop-shadow(0px 0px 24px rgba(0, 0, 0, 0.08)) drop-shadow(0px 24px 24px rgba(0, 0, 0, 0.08));
        transform: translate(0px, -20px);
    }

    &__arrow-btn:hover {
        background: #FFFFFF;
        color: #FF444F;

    }

    &__slide_card {
        max-width: 384px;
        max-height: 585px;
        display: flex;
        text-align: center;
        outline: none;
    }

    &__btn_inner {
        display: flex;
        gap: 8px;
    }
}

.carousel_section__mobile .carousel_section__slide_card {
    flex-direction: column;
    max-width: 328px;
    max-height: 418px;
    display: flex;
    text-align: center;
    outline: none;
}

.carousel_section .slick-slide {
    max-width: 384px;
}

.carousel_section .slick-slide {
    margin: 0 12.5px;
}


.carousel_slide_info_wrapper {
    max-height: 92px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    position: relative;
    top: 198px;

    @include for-size(mobile) {
        top: 166px;
      }

}

.platform_title {
    margin-top: 0;
    font: 700 1.6rem $font-IBM;
    color: $header-color; 
    margin-bottom: 8px;
    @include for-size(mobile) {
      font: 700 1.3rem $font-IBM;
      margin-bottom: 8px;
    }

  }

.platform_description {
    min-height: 42px; 
    max-width: 336px;
    margin-top: 0;
    font: 400 1rem $font-IBM;
    color: $header-color;

    @include for-size(mobile) {
      font: 400 1rem $font-IBM;
      margin-bottom: 0;
      max-width: 280px;

    }

    @media (max-width: 768px) {
    }
  }