.carousel-title {
    display: flex;
    align-items: center;
    flex-direction: column;

    &__content {
        max-width: 62rem;
    }

    h1 {
        text-align: center;
        margin-top: 5rem;
        margin-bottom: 2.5rem;
        font: 700 3rem $font-IBM;
        line-height: 4rem;
        color: $header-color;

        @include for-size(mobile) {
            font: 700 1.5rem $font-IBM;
            text-align: center;
            padding: 0 2rem;
        }
    }
}

.carousel_section .slick-list {
    margin: 0 0 0 7.5rem;

    @media (max-width: 1024px) {
        margin: 0 0 0 2em; 
    }
  }

.carousel_section {

    &__desktop {
        @media (max-width: 768px) {
            display: none;
        }
    }

    &__mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -4.625rem;


        @media (min-width: 768px) {
            display: none;
        }
    }

    &__content {
        max-width: 62.25rem;
        display: flex;
        justify-content: center;

        h1 {
            text-align: center;
            margin-bottom: 1.5rem;
            font: 700 3rem $font-IBM;
            line-height: 4rem;
            color: $header-color;

            @include for-size(mobile) {
                font: 700 1.5rem $font-IBM;
                text-align: center;
                padding: 0 2rem;
            }
        }

    }

    &__slide_img {
        max-width: 24rem;

        @include for-size(mobile) {
            max-width: 19.875rem;
            
        }
    }

    &__arrow-btn {
        text-transform: none;
        padding: 0.625rem 0.75rem 0.625rem 1rem;
        font-size: 0.875rem;
        font-weight: 700;
        min-width: 8.18rem;
        color: #FF444F;
        background: #FFFFFF;
        border-radius: 6.25rem;
        filter: drop-shadow(0px 0px 1.5rem rgba(0, 0, 0, 0.08)) drop-shadow(0px 1.5rem 1.5rem rgba(0, 0, 0, 0.08));
        transform: translate(0px, -1.25rem);
    }

    &__arrow-btn:hover {
        background: #FFFFFF;
        color: #FF444F;

    }

    &__slide_card {
        max-width: 24rem;
        max-height: 36.563rem;
        display: flex;
        text-align: center;
        outline: none;

    }

    &__btn_inner {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20px;
        img {
            margin-left: 0.5rem;
        }
    }
}

.carousel_section__mobile .carousel_section__slide_card {
    flex-direction: column;
    max-width: 20.5rem;
    max-height: 27rem;
    display: flex;
    text-align: center;
    outline: none;
}

.carousel_section .slick-slide {
    max-width: 24rem;
}

.carousel_section .slick-slide {
    margin: 0 0.781rem;
}


.carousel_slide_info_wrapper {
    max-height: 5.75rem;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    position: relative;
    top: 12.375rem;

    @include for-size(mobile) {
        top: 10.375rem;
        margin-bottom: 0.2rem;
      }

}

.platform_title {
    margin-top: 0;
    font: 700 1.6rem $font-IBM;
    color: $header-color; 
    margin-bottom: 0.5rem;
    @include for-size(mobile) {
      font: 700 1.3rem $font-IBM;
      margin: 0.5rem;
    }

  }

.platform_description {
    min-height: 2.62rem; 
    max-width: 21rem;
    margin-top: 0;
    font: 400 1rem $font-IBM;
    color: $header-color;

    @include for-size(mobile) {
      font: 400 1rem $font-IBM;
      margin-bottom: 0;
      max-width: 17.5rem;

    }

    @media (max-width: 768px) {
    }
  }