$brand-gray: #f2f2f2;
$brand-dark-gray: #dedede;
$brand-blue: #2a3052;
$brand-dark-blue: #15212d;
$brand-orange: #e98024;
$brand-btn: #2e8836;
$brand-btn-active: #14602b;
$brand-primary-dark: #15212d;
$white: #ffffff;
$black: #000000;
$toolbox-btn-active: #dddddd;

$chart-text: desaturate($brand-blue, 50%);
$chart-background: $white;

$chart-text-inverse: desaturate(lighten($brand-blue, 50%), 50%);
$chart-background-inverse: #161a24;

$primaryBrandColor: #2a3052;
$darkPrimaryBrandColor: #15212d;
$secondaryBrandColor: #e98024;
$contentColor: #000;
$contentInverseColor: #fff;
$secondaryContentColor: #c2c2c2;
$borderColor: #dedede;
$fillColor: #f2f2f2;
$positiveColor: #2e8836;
$darkPositiveColor: #14602b;
$negativeColor: #c03;
$noticeColor: #fef1cf;
$chartColor: #6b8fb9;
$chartAreaColor: rgba(128, 179, 236, 0.3);
$lightBlue: #29abe2;
$darkGray: #44484c;
$darkWhite: #ccc;