$brand-gray: #f2f2f2;
$brand-dark-gray: #dedede;
$brand-blue: #2a3052;
$brand-dark-blue: #15212d;
$brand-orange: #e98024;
$brand-btn: #2e8836;
$brand-btn-active: #14602b;
$brand-primary-dark: #15212d;
$white: #ffffff;
$black: #000000;
$toolbox-btn-active: #dddddd;
$tab-border: #d1d1d1;

// Brand colors and derivatives

$COLOR_BRAND_BLUE: #2a3052;
$COLOR_BRAND_ORANGE: #e98024;

$COLOR_TEXT: desaturate($COLOR_BRAND_BLUE, 50%);
$COLOR_BG: white;

$COLOR_CONTROL_BORDER: #dadada;
$COLOR_ACTIVE: #ff992a;

$COLOR_INVERSE_TEXT: desaturate(lighten($COLOR_BRAND_BLUE, 50%), 50%);
$COLOR_INVERSE_BG: #161a24;

$COLOR_NAV_ACTIVE: #3c4872;
$COLOR_NAV_BORDER: #2a3052;

// Colors used for secondary purposes. To be used sparingly

$COLOR_RED: #c03;
$COLOR_YELLOW: rgba(255, 236, 179, 0.75);
$COLOR_LIGHT_GRAY : #f2f2f2;
$COLOR_GRAY: #ddd;
$COLOR_GREEN: #2e8836;
