.edit-mode-toggle {
  cursor: pointer;
  margin: 0.2em;

  label {
    margin: 0em;
  }

  span {
    font-size: 1em;
    color: $black;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 2.4em;
    height: 1.15em;
    margin-top: 0.05em;
    input {
      display: none;
    }
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;

    &:before {
      position: absolute;
      content: "";
      height: 1em;
      width: 1em;
      left: 0.15em;
      bottom: 0.1em;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }
    /* Rounded sliders */
    &.round {
      border-radius: 1.5em;

      &:before {
        border-radius: 50%;
      }
    }
  }

  input {
    &:checked + .slider {
      background-color: $brand-orange;
    }

    &:focus + .slider {
      box-shadow: 0 0 0.1em $brand-orange;
    }

    &:checked + .slider:before {
      -webkit-transform: translateX(1.1em);
      -ms-transform: translateX(1.1em);
      transform: translateX(1.1em);
    }
  }
}
