@import 'color';
@import 'screen';

#header {
  .left-header {
    float: left;
    height: 4.6em;
  }

  .right-header {
    float: right;
    height: 4.6em;
    width: 23%;
    padding-right: 1em;
    .main-nav {
      width: 8em;
    }
    .main-nav>li>ul a li {
      padding: 0.5em 0;
    }
  }

  .middle-header {
    height: 4.6em;
    float: left;
    button.top-menu {
      padding: 1.6em 1em;
      font-size: 1.1em;
      background-color: $brand-blue;
    }
    .collapse-menu {
      display: inline-flex;
      @media #{$phone-screen} {
        display: block;
        padding: 0em;
        position: absolute;
        z-index: 10;
      }
      &.hiddenMenu {
        @media #{$phone-screen} {
          left: -100%;
        }
      }
      button.top-menu {
        margin-right: 0.2em;
        @media #{$phone-screen} {
          padding: 0.5em 1em;
          display: block;
          width: 7em;
          text-align: left;
        }
        span {
          display: none;
          @media #{$phone-screen} {
            display: inline-block;
          }
        }
      }
      button:hover.top-menu {
        background-color: $brand-dark-blue;
        span {
          display: inline-block;
        }
      }
    }
    #mobileMenu {
      font-size: 1.1em;
      display: none;
      @media #{$phone-screen} {
        display: block;
      }
    }
  }

  #account-list {
    display: none;
    float: right;
    margin-right: 1em;
    .account {
      width: 8em;
      float: right;
      font-size: 1em;
    }
  }

  .topMenuBalance {
    visibility: hidden;
  }

  #login {
    display: none;
    margin: 0.6em 0;
  }

  .btn-primary {
    color: $white !important;
    text-decoration: none !important;
    background: $brand-btn !important;
    border-color: $brand-btn !important;
  }

  .btn-primary:active, .btn-primary:hover {
    color: $white !important;
    text-decoration: none !important;
    background-color: $brand-btn-active !important;
    border-color: $brand-btn-active !important;
  }
}

.languages {
  z-index: 999;
}

.tours {
  z-index: 999;
  position: relative;
  margin-right: 240px;
  font-size: 13px;
}
#display-tour, #select-tour {
  position: absolute;
  width: 116px;
  padding: 0;
  margin: 0;
  text-align: center;
}
#select-tour {
  background-color: #F2F2F2;
  border: 1px solid #DEDEDE;
  color: black;
  display: none;
}
#select_language, #select-tour {
  top: -3px;
}
#select-tour li {
  cursor: pointer;
  padding: 3px;
  margin: 0;
}
#display-tour li, #display_language li {
  cursor: pointer;
  line-height: 0;
}

#topbar {
  .right-header {
    float: right;
  }
}
