#movetoderiv_language_switcher {
    position: absolute!important;
    top: 65px;
    right: 114px;
}

.movetoderiv_topbar_hide {
    position: absolute;
    top: -20px;
}

.border_hide_mtd {
    border: none !important;
}


.language_list {
    padding-top: 26px !important;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    width: 176px !important;
    height: 216px;
    margin-top: 20px !important;
    border-radius: 8px;
}

.language_list::before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 91px;
    top: 2px;
    border: 12px solid #f2f2f2;
    transform: rotate(45deg);
}

.language_list {
    padding-top: 26px !important;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    width: 176px !important;
    height: 216px;
    margin-top: 40px !important;
    border-radius: 8px;
}

.hide_lang {
    display: none !important;
}

#show_lang {
    padding-bottom: 18px !important;
    display: inline-block !important;
    width: 144px !important;
}

.language_text {
    text-align: left;
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    font-size: 14px !important;
    width: 80px !important;
    padding-left: 8px;

}

.actual_flag {
    text-transform: uppercase;
    font-weight: bold;
}

.displaying_language_mtd {
    display: flex !important;
    align-items: center;
    max-width: 68px;
}
.language_background_flag {
    display: inline-block;
    width: 24px;
    height: 16px;
}

.en_flag_mtd {
    background-image: url(../image/english-flag.png);
}

.id_flag_mtd {
    background-image: url(../image/indonesia-flag.png);
}

.es_flag_mtd {
    background-image: url(../image/spain-flag.png);
}

.pt_flag_mtd {
    background-image: url(../image/portugal-flag.png);
}