@import "color";

.notification-banner {
  background-color: $white;
  display: flex;
  flex-direction: row;
  max-width: 940px;
  width: 100%;
  margin: auto;
  align-items: center;
  align-items: center;
  position: absolute;
  top: 9.45rem;
  left: 22rem;
  z-index: 100 !important;

  &__orange-hexagon {
    display: none;
    border-bottom: 130px solid $brand-orange;
    border-left: 0 solid transparent;
    border-right: 45px solid transparent;
    border-bottom-left-radius: 10px;
    height: 0;
    width: 26rem;

    &_text {
      display: flex;
      flex-direction: column;
      color: $white;
      padding: 1rem;
    }
  }

  &__content {
    max-width: 425px;
    width: 100%;
    margin: auto 86px auto 9px;

    &_header {
      font-weight: 700;
      margin: 0;
      margin-bottom: 4px;
      line-height: 24px;
      font-size: 16px;
    }
    &_text {
      margin: 0;
      font-weight: 400;
      line-height: 24px;
      font-size: 16px;
    }
    &_button {
      text-decoration: none;
      text-align: center;
      line-height: 100%;
      text-transform: capitalize;
      padding: 8px 25px;
      display: inline-block;
      font-weight: 400;
      font-family: inherit;
      border-radius: 4px;
      cursor: pointer;
      font-size: 18px;
      border: 0;
      background: $brand-btn;
      color: $white;
      min-height: 38px;
    }

    @media (max-width: 1234px) {
      position: absolute;
      max-width: 400px;
      color: $white;
    }
    @media (max-width: 590px) {
      max-width: 300px;
    }
  }
  @media (max-width: 1234px) {
    max-width: 800px;

    > img {
      display: none;
    }
    &__orange-hexagon {
      display: inline-block;
    }
  }
  @media (max-width: 1024px) {
    left: 15rem;
  }

}
