@import 'screen';

.fixed-panel {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    display: none;
    background-color: white;
    position: fixed;
    z-index: 2;

    h4 {
        font-size: 1em;
        @media #{$tablet-screen-rotate} {
            display: none;
        }
    }

    .container {
        height: 100%;
    }

    #chart {
        position: absolute;
        background-color: $brand-gray;
        width: 100%;
        height: 40%;
        bottom: 6.6em;
        @media #{$phone-screen-rotate} {
            display: none;
        }
    }

    .table-scroll {
        position: absolute;
        overflow: auto;
        width: 100%;
        height: 100%;
        max-height: calc(59% - 14em);
        bottom: calc(40% + 6em);
        @media #{$tablet-screen-rotate} {
            max-height: calc(60% - 10.5em);
        }
        @media #{$phone-screen-rotate} {
            max-height: calc(100% - 4.5em);
            bottom: 0;
        }
    }

    table {
        overflow: auto;
        width: 100%;
    }

    table,
    td,
    th {
        border-collapse: collapse;
    }

    td,
    th {
        text-align: center !important;
        padding: 0.1em !important;
        height: 2em;
    }
}

.floating-panel {
    font-size: 1em;
    background-color: white;
    position: fixed;
    top: 50%;
    left: calc(50% - 7em);
    border: 1px solid #2a3052;
    border-top-color: #ddd;
    z-index: 1002;
    .panelExitButton p{
        color: white;
        cursor: pointer;
        width: 1.4em;
        height: 1.4em;
        position: absolute;
        right: 0px;
        top: 0px;
        text-align: center;
        border: 1px solid #e98024;
        border-radius: 0 0 0 4px;
        background: #e98024;
        margin: 0px;
    }

    .content {
        padding: 0 15px 15px;
        background: white;
        cursor: default;
    }

    .description {
        padding: 0.2em 2em;
        background-color: #2a3052;
        color: #fff;

        h4 {
            color: white;
            margin: 0;
            text-align: center;
        }
    }
}
