@import 'color';

#summaryPanel {
  border-radius: 4px;
  border: 1px solid $brand-gray;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.1);
}

#fileBrowser {
  width: 388px;
  height: 76px;
  margin-left: -194px;
  margin-top: -38px;
}

.draggable-dialog {
  display: none;

  .content {
    padding: 0 15px 15px 15px;
    background: $white;
    cursor: default;
    table {
      border: 1px solid $brand-gray;
    }
  }

  table {
    overflow: auto;
    width: 100%;
  }

  table,
  td,
  th {
    border-collapse: collapse;
  }

  td,
  th {
    text-align: center !important;
    padding: 3px !important;
    height: 2em;
    font-size: 14px;
  }

  .table-scroll {
    overflow: auto;
    height: 20em;
    padding-bottom: 1vh;
    margin-bottom: 1em;
  }

  #chart {
    width: 100%;
    height: 20em;
    border: 1px solid $brand-gray;
    border-radius: 3px;
  }
}

.dialog-content{
	padding: 0 15px 15px 15px;
	background: white;
	cursor: default;
}
