@import 'color';
@import 'toolbox';
@import './deriv/devices.scss';
@import 'constants';

$STATIC_CIRCLE_DIAMETER: 0.5rem;
$DYNAMIC_CIRCLE_DIAMETER: 1.5rem;
$DISABLED_COLOR: #F2F2F2;
$ANIMATOR_CIRCLE_POSITION_TOP: 44%;

@keyframes animate-circle {
    0% { 
        transform: translate(-50%, -50%) scale(0);
    }
    50% { 
        transform: translate(-50%, -50%) scale(1);
    }
    100% { 
        transform: translate(-50%, -50%) scale(0);
    }
}

@keyframes animate-progress {
    0% {
        width: 0%;
    }
    100% {
        width: 50%;
    }
}

@keyframes animate-progress-complete {
    0% {
        width: 50%;
    }
    100% {
        width: 100%;
    }
}

@keyframes slide-tooltip {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#summaryPanel {
    border-radius: 4px;
    border: 1px solid $brand-gray;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.1);
    .content-row {
        margin-bottom: 1em;
    }
    p {
        margin: 0em;
    }
    #sync-warning {
        font-size: 11px;
        color: lightgray;
    }
    .summary-toolbox {
        text-align: center;
        position: relative;

        .toolbox-button {
            border-radius: 50%;
            margin: 0 auto 0.313em;
            @include toolbox-button-base;
            &:hover {
                @include toolbox-runButton-hover;
            }
            &[disabled], &[disabled]:hover {
                @include toolbox-runButton-disabled;
            }
        }
        .toolbox-button:focus {
            @include toolbox-button-focus;
        }
        #summaryClearButton {
            position: absolute;
            right: 10px;
        }
    }
}

#fileBrowser {
    width: 388px;
    height: 76px;
    margin-left: -194px;
    margin-top: -38px;
}

.draggable-dialog {
    display: none;

    .content {
        padding: 0 5px;
        background: $white;
        cursor: default;
        table {
            border: 1px solid $brand-gray;
        }
    }

    table {
        overflow: auto;
        width: 100%;
    }

    table,
    td,
    th {
        border-collapse: collapse;
    }

    td,
    th {
        text-align: center !important;
        padding: 3px !important;
        height: 2em;
        font-size: 11px;
    }

    #chart {
        width: 100%;
        height: 20em;
        border: 1px solid $brand-gray;
        border-radius: 3px;
    }
}

.dialog-content {
    padding: 0 15px 15px 15px;
    background: white;
    cursor: default;
}

.warn .react-grid-Cell {
    background: #fbeed5;
}
.success .react-grid-Cell {
    background: #dff0d8;
}
.error .react-grid-Cell {
    background: #f2dede;
}
.info .react-grid-Cell {
    background: #d9edf7;
}

// ReactGrid
.ui-widget {
    .react-grid-Main {
        outline: none;
    }
    .react-grid-Grid {
        border: 1px solid $DISABLED_COLOR;
    }
    .react-grid-Cell {
        border-bottom: 1px solid $DISABLED_COLOR;
        border-right: 1px solid $DISABLED_COLOR;
    }
    .react-grid-HeaderCell {
        font-size: 11px;
        border-bottom: 1px solid $DISABLED_COLOR;
        border-right: 1px solid $DISABLED_COLOR;
        padding-left: 8px !important;
        display: flex !important;
        align-items: center;
    }
    .react-grid-Row {
        font-size: 11px;
    }
}

#summaryPanel {
    .react-grid-Row .react-grid-Cell:last-child, 
    .react-grid-Row .react-grid-Cell:nth-last-child(2) {
        text-align: right;
    }
}

#tradeInfo {
    margin-bottom: 10px;
}

#chart-dialog-component {
    width: 100% !important;
}

.sc-search-input .searchInputClassName {
    font-size: 1rem;
    height: 1.85rem !important;
    margin-top: 0.25rem;
    font-family: "IBM Plex Sans",sans-serif;
}

.form--sc-views__input .sc-input {
    font-size: 1rem;
    font-weight: 400;
}

.sc-btn.sc-btn--sm {
    font-size: 0.8rem;
    font-weight: 700;
    font-style: normal;
}

#trading-view-dialog-component {
    width: 100% !important;
}

.icon-close {
    width: 1.5em !important;
    height: 1.5em !important;
}

.ui-dialog-content {
    padding: 0px !important;

    &.ui-widget-content {
        input[type=text] {
            height: 40px;
            width: 100%;
        }
        .description {
            font-size: 75%;
            margin: 0.5em 0;
        }
        .input-row {
            margin: 1em 0;
            
            &.last {
                margin-bottom: 0;
            }
        }
    }
}

#load-dialog, #save-dialog {
    .integration-option {
        margin: 0.5em;
    }
}

#save-dialog {
    #collection {
        padding: 1.2em;
        border: 1px solid $brand-gray;
        border-radius: 10px;
        & .description {
            margin-left: 21px;
            margin-top: 0.2em;
            margin-bottom: 0;
        }
    }
}

#integrations-dialog {
    .integration {
        display: table;
        width: 100%;

        h2 {
            color: $black;
            font-size: 20px;
            margin: 0 0 0.2em 0;
        }
        .left {
            width: 60%;
            display: table-cell;
            vertical-align: top;
        }
        .right {
            width: 39%;
            display: table-cell;
            text-align: right;
            & > a {
                display: block;
            }
        }
        .integration-user {
            color: #b9b9b9;
            font-size: 75%;
        }
    }
}

.blocklyTreeRoot {
    padding-bottom: 42px;
}

@media (max-width: 768px) {
    .blocklyTreeRoot {
        padding-bottom: 0;
    }
}

.animator-tooltip {
    p {
        font-size: 11px;
        text-align: center;
        padding: 4px 8px;
        border-radius: 4px;
        background-color: $COLOR_YELLOW;
    }

    &.running {
        p {
            color: #468847;
            background-color: #DFF0D8;
            border-color: #D6E9C6;
        }
    }
}

.trade-animator {
    min-width: 19.5rem;
    max-width: 767px;
    overflow-x: auto;
    margin-bottom: 1rem;

    &__indicator-message {
        display: flex;
        justify-content: center;

        div {
            @extend .animator-tooltip;
        }
    }

    &__stages {
        display: flex;
        justify-content: space-between;
        position: relative;
        min-height: 5rem;
        margin-top: 0.5rem;
    }

    &__stage {
        min-width: 6.5rem;
        text-align: center;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &:first-child {
            margin-left: 5rem;
        }

        &:nth-child(3) {
            margin-right: 5rem;
        }

        @include mobile {
            &:first-child {
                margin-left: 0;
            }
            &:nth-child(3) {
                margin-right: 0;
            }
        }

        .title {
            font-size: 11px;
        }

        .circle {
            &::after {
                content: '';
                position: absolute;
                width: $STATIC_CIRCLE_DIAMETER;
                height: $STATIC_CIRCLE_DIAMETER;
                border-radius: 100%;
                border: 0.25rem solid $DISABLED_COLOR;
                display: block;
                background-color: $DISABLED_COLOR;
                right: 50%;
                top: $ANIMATOR_CIRCLE_POSITION_TOP;
                transform: translate(50%, -50%);
                z-index: 1;
            }

            &.active {
                &::before {
                    content: '';
                    position: absolute;
                    width: $DYNAMIC_CIRCLE_DIAMETER;
                    height: $DYNAMIC_CIRCLE_DIAMETER;
                    background-color: $COLOR_ORANGE;
                    border-radius: 100%;
                    opacity: 0.32;
                    animation: animate-circle 0.8s infinite;
                    transform: translate(-50%, -50%);
                    top: $ANIMATOR_CIRCLE_POSITION_TOP;
                    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
                    z-index: 1;
                }
            }

            &.complete {
                &::after {
                    border: 0.25em solid $COLOR_ORANGE;
                }
            }
        }

        .tooltip {
            padding: 4px;
            background-color: $COLOR_YELLOW;
            border-radius: 4px;
            position: relative;

            p {
                font-size: 11px;
            }

            visibility: hidden;

            &::before {
                content: '';
                position: absolute;
                top: -8px;
                transform: translate(-50%, -50%);
                border: 10px solid $COLOR_YELLOW;
                border-top-color: transparent;
                border-left-color: transparent;
                border-right-color: transparent;
            }

            &.active {
                visibility: visible;
                animation: slide-tooltip 0.8s 1;
            }
        }
    }

    &__progress-bar {
        position: absolute;
        height: 4px;
        background-color: $DISABLED_COLOR;
        left: 50%;
        top: $ANIMATOR_CIRCLE_POSITION_TOP;
        transform: translate(-50%, -50%);
        width: calc(100% - 16.5rem);

        @include mobile {
            width: calc(100% - 6.5rem);
        }

        &::after {
            content: '';
            position: absolute;
            height: 4px;
        }

        &.active {
            &::after {
                background-color: $COLOR_ORANGE;
                width: 50%;
                animation: animate-progress 0.5s 1;
                animation-fill-mode: forwards;
            }
        }

        &.complete {
            &::after {
                background-color: $COLOR_ORANGE;
                width: 100%;
                animation: animate-progress-complete 0.5s 1;
                animation-fill-mode: forwards;
            }
        }
    }
}