@import 'chart';

.report {
  width: 100%;
  height: 100%;
  right: 0;
  display: none;
  background-color: white;
  z-index: 2;
  position: absolute;

  h4 {
    font-size: 1em;
    @media #{$tablet-screen-rotate} {
      display: none;
    }
  }

  .container {
    height: 100%;
  }

  #chart {
    background: $brand-gray;
    width: 100%;
    height: calc((100% - 5em)/2);
    @media #{$phone-screen-rotate} {
      display: none;
    }

    .trade-chart {
      height: 100%;
    }
  }

  .table-scroll {
    overflow: auto;
    width: 100%;
    height: calc((100% - 5em)/2);

    @media #{$phone-screen-rotate} {
      height: calc(100% - 5em);
    }
  }

  table {
    overflow: auto;
    width: 100%;
  }

  table,
  td,
  th {
    border-collapse: collapse;
  }

  td,
  th {
    text-align: center !important;
    padding: 0.1em !important;
    height: 2em;
  }
}
