#toolbox {
  position: absolute;
  top: 2em;
  left: 0;
  width: 6em;
  text-align: center;
  z-index: 1;
  display: none;
  padding-right: 0.5em;
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100% - 2.7em);
  margin-top: 0.2em;

  * {
    margin-bottom: 0.1em;
  }

  button {
    background-color: $brand-gray;
    border: 0.1em solid $toolbox-btn-active;
    padding: 0.5em 0.1em;
    width: 100%;
    text-align: left;
    font-size: 1em;
    color: $black;
  }

  button:hover {
    background-color: $toolbox-btn-active;
  }

  button:focus {
    outline: none;
  }

  .box.is-dragover {
    background-color: grey;
  }

  #openMenu {
    border-bottom-width: thick;
    margin-left: 0em;
    margin-bottom: 0.5em;
  }
}
