@mixin toolbox-button-base {
    background-color: $brand-gray;
    color: $black;
    padding: 0em;
    width: 40px;
    height: 40px;
    font-size: 1.500em;
}

@mixin toolbox-button-focus {
    outline: none;
}

@mixin toolbox-runButton-disabled {
    background-color: $brand-gray;
    color: $brand-dark-gray;
}

@mixin toolbox-runButton-hover {
    background-color: $toolbox-btn-active;
}

#toolbox {
    background-color: $brand-gray;
    border-bottom: 1px solid $brand-dark-gray;
    padding: 2px 3px;
    z-index: 0;
    overflow: auto;

    #runButton[disabled], #runButton[disabled]:hover, #stopButton[disabled], #stopButton[disabled] {
        @include toolbox-runButton-disabled;
    }

    .toolbox-button {
        @include toolbox-button-base;
    }

    .toolbox-button:hover {
        @include toolbox-runButton-hover;
    }

    .toolbox-button:focus {
        @include toolbox-button-focus;
    }

    .box.is-dragover {
        background-color: grey;
    }

    .toolbox-separator {
        background-color: $brand-dark-gray;
        display: inline-block;
        height: 15px;
        margin: 0 5px;
        user-select: none;
        width: 2px;        
    }
}

#toolbox-login {
    margin-top: 1px;
    margin-right: 20px;
}

#toolbox-account {
    display: table;
    height: 40px;
}

#toolbox-account-list {
    position: relative;
    user-select: none;
    display: table-cell;
    vertical-align: middle;
    padding-right: 20px;
    &>a {
        color: $black;
        &:hover, &:visited {
            text-decoration: none;
        }
    }
}

#toolbox-main-account {
    display: inline;
    padding-inline-start: 0;
    &>li {
        display: inline;
        margin: 0 2px;
    }
    &>li:not(:first-child):not(:last-child):before {
        content: '\2022';
        margin-right: 7px;
    }
    &>.nav-caret {
        display: inline-block;
    }
}

#toolbox-all-accounts {
    border: 0;
    z-index: 100;
    margin-top: -1px;
    background: none;
    right: 20px;
    & li {
        height: 100%;
        & a {
            margin-top: 0;
        }
    }
}

button {
    & > .barspinner.white {
        position: relative;
        margin: 3px auto;
        height: 13px;
        top: initial;
        left: initial;  
    }
}
