@import "edit";

.view-menu {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 1.4em;
  background: $brand-orange;

  * {
    color: $black;
  }

  &:after {
    position: absolute;
    content: "";
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 0.15em solid $tab-border;
    z-index: 3;
  }

  button {
    position: relative;
    border-radius: inherit;
    background: linear-gradient(to bottom, $brand-gray 50%, $tab-border 100%);
    font-size: 1em;
    width: 5.5em;
    padding: 0.1em;
    padding-bottom: 0.27em;
    text-align: left;
    display: block;
    float: left;
    margin-right: 0.1em;
    z-index: 4;

    &.selected {
      background: $white;
    }
  }

  button:hover {
    background: $white;

    span {
      display: inline-block;
    }
  }

}
