@charset "UTF-8";
.brand-blue {
  color: #2a3052; }

.brand-blue-bg {
  background-color: #2a3052; }

.brand-orange {
  color: #e98024; }

.brand-orange-bg {
  background-color: #e98024; }

.highcharts-container {
  width: 100% !important; }

.highcharts-container svg {
  width: 100% !important; }

.highcharts-loading {
  background: transparent !important; }

.highcharts-loading > span {
  padding: 0.5em 1em;
  border-radius: 3px;
  color: #bebebe !important;
  background: #161a24 !important; }

.inverse .highcharts-loading > span {
  color: #161a24 !important;
  background: #bebebe !important; }

.inverse .trade-chart {
  color: #bebebe; }

.trade-chart,
.contract-chart {
  font-size: 12px;
  color: #3e3e3e; }

.trade-chart button,
.contract-chart button {
  color: #3e3e3e; }

.trade-chart button:hover,
.contract-chart button:hover {
  background: rgba(42, 48, 82, 0.1); }

.inverse .trade-chart button, .inverse
.contract-chart button {
  color: #bebebe; }

.inverse .trade-chart button:hover, .inverse
.contract-chart button:hover {
  background: rgba(190, 190, 190, 0.1); }

.trade-chart .binary-chart-zoom-controls,
.contract-chart .binary-chart-zoom-controls {
  visibility: hidden;
  opacity: 0; }

.trade-chart:hover .binary-chart-zoom-controls,
.contract-chart:hover .binary-chart-zoom-controls {
  visibility: visible;
  opacity: 1; }

.trade-chart {
  height: 40vh;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  min-height: 0; }

.trade-chart #trade-chart0,
.trade-chart #trade-chart1,
.trade-chart #trade-chart2,
.trade-chart #trade-chart3,
.trade-chart #trade-chart4 {
  height: calc(100% - 60px); }

.binary-chart-time-frame-picker {
  height: 24px; }

.binary-chart-time-frame-button {
  background: rgba(190, 190, 190, 0.25) !important;
  margin-right: 2px;
  padding: 0 !important; }

.binary-chart-submenu {
  border-radius: 3px;
  background: white;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.5); }

.inverse .binary-chart-submenu {
  background: #161a24; }

.binary-chart-submenu button {
  color: #3e3e3e;
  background: transparent;
  border-radius: 0; }

.binary-chart-picker-item,
.binary-chart-button {
  text-align: left;
  padding: 8px;
  min-height: 30px;
  min-width: 30px;
  display: flex;
  align-items: center; }

.binary-chart-picker-item svg + span,
.binary-chart-button svg + span {
  margin-left: 8px; }

.binary-chart-button:hover,
.binary-chart-picker-item:hover,
.binary-chart-time-frame-button:hover {
  box-shadow: 0 0 0 1px #3e3e3e; }

.inverse .binary-chart-button:hover, .inverse
.binary-chart-picker-item:hover, .inverse
.binary-chart-time-frame-button:hover {
  box-shadow: 0 0 0 1px #bebebe; }

.pressed {
  background: #2a3052 !important; }

.pressed svg {
  fill: #bebebe; }

.binary-chart-zoom-button {
  opacity: 0.75;
  background: rgba(42, 48, 82, 0.25) !important; }

.binary-chart-zoom-button svg {
  fill: #2a3052;
  margin-bottom: 4px; }

.binary-chart-zoom-button:hover {
  opacity: 1;
  box-shadow: 0 0 0 1px #2a3052; }

.inverse .binary-chart-zoom-button {
  opacity: 0.75;
  background: rgba(190, 190, 190, 0.25) !important; }

.inverse .binary-chart-zoom-button svg {
  fill: #bebebe; }

.inverse .binary-chart-zoom-button:hover {
  opacity: 1;
  box-shadow: 0 0 0 1px #bebebe; }

.binary-chart-toolbar {
  height: 30px;
  margin-bottom: 2px; }

.binary-chart-toolbar > * {
  margin-right: 2px; }

.binary-chart-button {
  background: rgba(42, 48, 82, 0.1);
  border-radius: 3px;
  min-width: 28px;
  padding: 5px;
  flex: 1;
  align-items: center; }

.binary-chart-button svg,
.binary-chart-picker-item svg {
  width: 16px;
  height: 16px;
  fill: #161a24; }

.inverse .binary-chart-button svg, .inverse
.binary-chart-picker-item svg {
  fill: white; }

.binary-chart-info-bar {
  padding: 0.5em 1em;
  opacity: 0.9;
  border-radius: 3px;
  background: #161a24;
  color: #bebebe; }

.binary-chart-info-bar .value-row {
  font-weight: bold; }

.binary-chart-info-bar > div {
  line-height: 1.5;
  display: flex; }

.binary-chart-info-bar > div > span {
  flex: 1; }

.inverse .binary-chart-info-bar {
  background: white;
  color: #3e3e3e; }

.highcharts-tooltip {
  display: none !important; }

@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?23213831");
  src: url("../font/fontello.eot?23213831#iefix") format("embedded-opentype"), url("../font/fontello.woff2?23213831") format("woff2"), url("../font/fontello.woff?23213831") format("woff"), url("../font/fontello.ttf?23213831") format("truetype"), url("../font/fontello.svg?23213831#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?23213831#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-zoom-in:before {
  content: '\e800'; }

/* '' */
.icon-redo:before {
  content: '\e801'; }

/* '' */
.icon-browse:before {
  content: '\e802'; }

/* '' */
.icon-undo:before {
  content: '\e803'; }

/* '' */
.icon-summary:before {
  content: '\e804'; }

/* '' */
.icon-stop:before {
  content: '\e805'; }

/* '' */
.icon-run:before {
  content: '\e806'; }

/* '' */
.icon-close:before {
  content: '\e807'; }

/* '' */
.icon-reset:before {
  content: '\e808'; }

/* '' */
.icon-zoom-out:before {
  content: '\e809'; }

/* '' */
.icon-menu:before {
  content: '\e80a'; }

/* '' */
.icon-save:before {
  content: '\e80b'; }

/* '' */
.icon-sort:before {
  content: '\f160'; }

/* '' */
.blocklyText {
  fill: #000000 !important; }

.blocklyTreeSelected .blocklyTreeLabel {
  color: #ffffff !important; }

.blocklyTreeRow:not(.blocklyTreeSelected):hover {
  background-color: #dedede !important; }

.blocklyToolboxDiv .blocklyTreeRow {
  color: #000000; }

.blocklyEditableText tspan {
  fill: #000000 !important; }

.blocklyEditableText rect {
  fill-opacity: 1 !important; }

.blocklyFlyoutBackground {
  fill: #ffffff !important;
  fill-opacity: 1 !important;
  stroke: #dedede;
  stroke-width: 1px; }

.blocklyToolboxDiv {
  background-color: #f2f2f2 !important;
  border-width: thin;
  color: #dedede;
  border-right: 1px solid; }

.blocklyIconShape {
  fill: #2a3052 !important; }

.blocklyIconGroup:not(:hover), .blocklyIconGroupReadonly {
  opacity: 1 !important; }

.blocklyScrollbarVertical, .blocklyScrollbarHorizontal {
  display: none; }

.blocklyTreeRow {
  margin-bottom: 0px !important; }

.blocklyToolboxDiv {
  position: fixed !important;
  z-index: 200 !important;
  left: -100%;
  overflow-x: hidden !important;
  transition: 0.5s; }

.blocklyFlyoutBackground {
  transition: 0.5s; }

.blocklySvg {
  left: 4em;
  position: absolute; }

html, body {
  height: 100%;
  margin: 0em;
  max-width: 100%;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: hidden; }

#blocklyDiv {
  position: absolute;
  height: 100%;
  width: 100%; }

#center {
  position: fixed;
  width: 1em;
  height: 1em;
  top: 50%;
  left: 50%; }

.panelExitButton p {
  color: white;
  cursor: pointer;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 0em;
  top: 0em;
  text-align: center;
  border: 1px solid #e98024;
  border-radius: 0 0 0 4px;
  background: #e98024;
  margin: 0em; }

#summaryPanel {
  width: 800px;
  margin-top: -317px;
  margin-left: -400px;
  z-index: 1001; }

#fileBrowser {
  width: 388px;
  height: 76px;
  margin-left: -194px;
  margin-top: -38px; }

#saveAs {
  width: 388px;
  height: 114px;
  margin-left: -194px;
  margin-top: -57px; }

.panel {
  display: none;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  border: 1px solid #2a3052;
  border-top-color: #dddddd;
  z-index: 1002; }

.panel .content {
  padding: 0 15px 15px 15px;
  background: white;
  cursor: default; }

.panel .description {
  padding: 5px;
  background-color: #2a3052;
  color: #ffffff; }

.panel .description h4 {
  color: white;
  margin: 0;
  text-align: center; }

table {
  overflow: auto;
  width: 100%; }

table, th, td {
  border-collapse: collapse; }

th, td {
  text-align: center !important;
  padding: 3px !important;
  height: 2em; }

.table-scroll {
  overflow: auto;
  height: 25vh;
  padding-bottom: 1vh; }

#chart {
  height: 40vh;
  width: 770px;
  background-color: #f2f2f2; }

.draggable {
  opacity: 1; }

.barspinner {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -5rem;
  z-index: 9999; }

.icon-remove:before {
  content: 'X'; }

#header select, #topbar select {
  color: #000;
  font-size: 1em; }

.dark-blue {
  background: #15212d; }

#files {
  display: inline-flex;
  vertical-align: middle; }

#toolbox {
  position: absolute;
  z-index: 100;
  left: 0em;
  width: 4em;
  text-align: center;
  padding: 10px; }

#toolbox * {
  margin-bottom: 5px; }

#toolbox button {
  background-color: #f2f2f2;
  border: 1px solid #dddddd;
  padding: 2.5px 6px;
  color: black; }

#toolbox button:hover {
  background-color: #dddddd; }

button:focus {
  outline: none; }

.box.is-dragover {
  background-color: grey; }

#header {
  height: 81px;
  width: 100%;
  background-color: #2a3052;
  border-top: 2px solid #15212d;
  border-bottom: 4px solid #e98024;
  font-size: 18px;
  padding: 0 20px; }

#topbar {
  background-color: #15212d;
  width: 100%;
  color: #ffffff;
  line-height: 1;
  font-size: 70%;
  text-align: right;
  padding: 3px 20px;
  display: table; }

.left-header {
  float: left; }

.right-header {
  float: right; }

#client-logged-in {
  display: none; }

.topMenuBalance {
  visibility: hidden; }

#login {
  display: none;
  margin: 0.6em 0; }

.account {
  font-size: 16px; }

.btn-primary {
  color: #ffffff !important;
  text-decoration: none !important;
  background: #2e8836 !important;
  border-color: #2e8836 !important; }

.btn-primary:active, .btn-primary:hover {
  color: #ffffff !important;
  text-decoration: none !important;
  background-color: #14602b !important;
  border-color: #14602b !important; }

#blocker {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: none;
  top: 0em;
  opacity: 0;
  left: 0em;
  background: white; }

#stopButton {
  display: none; }

select.tour-highlight {
  background: white; }

.actions_menu {
  display: none; }

#container {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0em;
  transition: 0.5s; }

/*# sourceMappingURL=bot-07944c7507.css.map */
