html, body {
		height: 100%;
		margin: 0px;
}
body {

	backgroun-color: #fff;
	font-family: sans-serif;
}
h1 {
	font-weight: normal;
	font-size: 140%;
}
#drop_zone{
	height: 100%;
	width: 100%;
}
.toolbox * {
	margin: 2px;
	float: left;
}
#blocklyDiv{
	height: 100%;
	width: 100%;
	right: 100px;
	bottom: 0px;
}
.help{
	float: right;
}
.logout, .intro-token{
	float: right;
	margin: 2px;
}
#center {
	position: fixed;
	width: 1px;
	height: 1px;
	top: 50%;
	left: 50%;
}
#summaryPanel .exitPanel p{
	color: white;
	background-color: black;
	margin-top: 4px;
	cursor: pointer;
	width: 20px;
	height: 20px;
	position: absolute;
	right: 10px;
	top: 10px;
	text-align: center;
}
#summaryPanel{
	display: none;
	background-color: white;
	z-index: 1001;
	position: fixed;
	width: 800px;
	height: 600px;
	top: 50%;
	left: 50%;
	margin-top: -300px;
	margin-left: -400px;
}
#summaryPanel .content{
	padding: 15px;
	background-color: #EEEEEE;
}
table {
	overflow:auto;
	width: 100%;
}
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}
th, td {
	text-align: center !important;
	padding: 3px !important;
	height: 2em;
}
.table-scroll {
  overflow:auto;
	height: 170px;
}
#chart, #tradesDisplay, #summaryDisplay {
	cursor: default;
}
#chart {
	height: 270px;
	width: 770px;
	background-color: #15122d;
}
.draggable{
	opacity: 0.75;
}

.spinning img{
	cursor: pointer;
    width: 200px;
    height: 200px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -5rem;
	z-index: 9999;
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.icon-remove:before {
	content: 'X';
}

#topbar {
    width: 100%;
    color: #fff;
    line-height: 1;
    text-align: right;
    padding: 3px 30px;
}

.dark-blue {
    background: #15212d;
}

#header {
    background: #2a3052;
    border-top: 2px solid #394171;
    border-bottom: 4px solid #e98024;
    height: 75px;
    font-size: 18px;
    padding: 10px 0;
}

.header-split {
    width: 33%;
    padding: 0 10px;
    float: left;
    display: inline-block;
    min-height: 1px;
    box-sizing: border-box;
}

#addAccount, #logout {
    color: #fff;
    text-decoration: none;
    text-align: center;
    background: #2E8836;
    border-radius: 4px;
    display: inline-block;
    letter-spacing: .75px;
    border: 0;
    padding: 0 10px;
    white-space: nowrap;
    font-weight: 400;
    font-size: .8em;
    line-height: 2em;
    margin: .8em 0;
}

.invisible {
    display: none;
}

#fixed-bar-bottom {
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 110px;
    background-color: #F2F2F2;
}
#fixed-bar-bottom * {
    margin: 0 2px;
}

.intro-file-management {
    display: table;
}

#files {
    display: inline-flex;
    vertical-align: middle;
}

#fixed-bar-right {
    position: absolute;
    z-index: 100;
    top: 101px;
    left: 90%;
    width: 10%;
    text-align: center;
    padding: 10px;
    margin-left: 12px;
}
#fixed-bar-right * {
    margin-bottom: 5px;
}
#fixed-bar-right button {
    background-color: #F2F2F2;
    border: 1px solid #ddd;
}
#fixed-bar-right button:hover {
    background-color: #ddd;
}

button:focus {
    outline: none;
}
