html, body {
	height: 100%;
	margin: 0px;
	max-width: 100%;
	max-height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}
.toolbox * {
	margin: 2px;
	float: left;
}
#blocklyDiv{
	height: calc(100% - 96px);
	width: 100%;
	right: 100px;
	bottom: 0px;
}

.login-logout{
	float: right;
	margin: 2px;
}
#center {
	position: fixed;
	width: 1px;
	height: 1px;
	top: 50%;
	left: 50%;
}
.panelExitButton p{
	color: white;
	cursor: pointer;
	width: 25px;
	height: 25px;
	position: absolute;
	right: 0px;
	top: 0px;
	text-align: center;
	border: 1px solid #e98024;
	border-radius: 0 0 0 4px;
	background: #e98024;
	margin: 0px;
}
#summaryPanel {
	width: 800px;
	margin-top: -317px;
	margin-left: -400px;
	z-index: 1001;
}
#fileBrowser {
	width: 500px;
	height: 500px;
	margin-left: -200px;
	margin-top: -200px;
}
#saveAs {
	width: 388px;
	height: 114px;
	margin-left: -194px;
	margin-top: -57px;
}
.panel {
	display: none;
	background-color: white;
	position: fixed;
	top: 50%;
	left: 50%;
	border: 1px solid #2a3052;
	border-top-color: #ddd;
	z-index: 1002;
}
.panel .content{
	padding: 0 15px 15px 15px;
	background: white;
	cursor: default;
}
.panel .description {
	padding: 5px;
	background-color: #2a3052;
	color: #fff;
}
.panel .description h4 {
	color: white;
	margin: 0;
	text-align: center;
}
table {
	overflow:auto;
	width: 100%;
}
table, th, td {
	border-collapse: collapse;
}
th, td {
	text-align: center !important;
	padding: 3px !important;
	height: 2em;
}
.table-scroll {
	overflow:auto;
	height: 25vh;
	padding-bottom: 1vh;
}
#chart {
	height: 40vh;
	width: 770px;
	background-color: #f2f2f2;
}
.draggable{
	opacity: 1;
}

.spinning img{
	cursor: pointer;
	width: 200px;
	height: 200px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -5rem;
	z-index: 9999;
	-webkit-animation:spin 2s linear infinite;
	-moz-animation:spin 2s linear infinite;
	animation:spin 2s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.icon-remove:before {
	content: 'X';
}

#header select, #topbar select{
	color: #000;
	font-size: 14px;
}

.dark-blue {
	background: #15212d;
}

#files {
	display: inline-flex;
	vertical-align: middle;
}

#fixed-bar-right {
	position: absolute;
	z-index: 100;
	top: 110px;
	left: 90%;
	width: 10%;
	text-align: center;
	padding: 10px;
	margin-left: 12px;
}
#fixed-bar-right * {
	margin-bottom: 5px;
}
#fixed-bar-right button {
	background-color: #F2F2F2;
	border: 1px solid #ddd;
	padding: 2.5px 6px;
	color: black;
}
#fixed-bar-right button:hover {
	background-color: #ddd;
}

button:focus {
	outline: none;
}

.blocklyText {
	fill: black !important;
}


.blocklyTreeSelected .blocklyTreeLabel {
	color: white !important;
}

.blocklyTreeRow:not(.blocklyTreeSelected):hover {
	background-color: #dedede !important;
}

.blocklyToolboxDiv .blocklyTreeRow{
	color: black;
}

.blocklyEditableText tspan {
	fill: black !important;
}

.blocklyEditableText rect {
	fill-opacity: 1 !important;
}

.blocklyFlyoutBackground {
	fill: white !important;
	fill-opacity: 1 !important;
	stroke: #dedede;
	stroke-width: 1px;
}

.blocklyToolboxDiv {
	background-color: #f2f2f2 !important;
	border-width: thin;
	color: #dedede;
	border-right: 1px solid;
}

.blocklyIconShape {
	fill: #2a3052 !important;
}

.blocklyIconGroup:not(:hover), .blocklyIconGroupReadonly {
	opacity: 1 !important;
}

.blocklyScrollbarVertical, .blocklyScrollbarHorizontal{
	display: none;
}

.box.is-dragover {
	background-color: grey;
}

#dropZone {
	font-weight: bold;
	text-align: center;
	padding: 1em 0;
	margin: 0px;
	color: #555;
	border: 2px dashed #555;
	border-radius: 7px;
	cursor: default;
	height: 425px;
	line-height: 350px;
}

#dropZone.hover {
	color: #f00;
	border-color: #f00;
	border-style: solid;
	box-shadow: inset 0 3px 4px #888;
}

#header {
	height: 75px;
	width: 100%;
	background-color: #2a3052;
	border-top: 2px solid #394171;
	border-bottom: 4px solid #e98024;
	font-size: 18px;
	padding: 0 20px;
}
#header #logo div {
	display: inline-block;
}
#topbar {
	background-color: #15212d;
	width: 100%;
	color: #fff;
	line-height: 1;
	font-size: 70%;
	text-align: right;
	padding: 3px 20px;
	display: table;
}
#logo {
	display: inline-block;
	margin-top: 5px;
}
.symbol-logo {
	width: 22%;
}
.type-logo {
	width: 57%;
	margin-left: 8px;
}

.left-header {
	float: left;
}

.right-header {
	float: right;
}

#header .right-header {
	margin-top: 5px;
}

#logout, #login, #accountSelect {
	display: none;
}

#logout, #login{
	letter-spacing: .75px;
	padding: 6px;
	text-transform: uppercase;
	font-size: 0.7em;
}

#login {
	padding: 0 10px;
	font-size: 0.8em;
	line-height: 2em;
	margin: 0.8em 0;
}

.btn-primary {
	color: #FFF !important;
	text-decoration: none !important;
	background: #2E8836 !important;
	border-color: #2E8836 !important;
}

.btn-primary:active, .btn-primary:hover {
	color: #FFF !important;
	text-decoration: none !important;
	background-color: #14602B !important;
	border-color: #14602B !important;
}

#blocker {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: none;
    top: 0px;
    opacity: 0;
    left: 0px;
    background: white;
}

#stopButton {
    display: none;
}

select.tour-highlight {
    background: white;
}
