html, body {
		height: 100%;
		margin: 0px;
}
body {
    height: 100%;
    width: 100%;
	backgroun-color: #fff;
	font-family: sans-serif;
}
h1 {
	font-weight: normal;
	font-size: 140%;
}
.toolbox * {
	margin: 2px;
	float: left;
}
#blocklyDiv{
	height: calc(100% - 125px);
	width: 100%;
	right: 100px;
	bottom: 0px;
}
.help{
	float: right;
}
.logout, .intro-token{
	float: right;
	margin: 2px;
}
#center {
	position: fixed;
	width: 1px;
	height: 1px;
	top: 50%;
	left: 50%;
}
.panelExitButton p{
    color: white;
    cursor: pointer;
    width: 25px;
    height: 22px;
    position: absolute;
    right: 0px;
    top: 0px;
    text-align: center;
    border: 1px solid #e98024;
    border-radius: 0 0 0 4px;
    background: #e98024;
}
#summaryPanel {
    width: 800px;
    margin-top: -300px;
    margin-left: -400px;
    z-index: 1001;
}
#fileBrowser {
    width: 500px;
    height: 500px;
    margin-top: -200px;
    margin-left: -200px;
    z-index: 1002;
}
.panel {
	display: none;
	background-color: white;
	position: fixed;
	top: 50%;
	left: 50%;
    border: 1px solid #2a3052;
    border-top-color: #ddd;
}
.panel .content{
	padding: 0 15px 15px 15px;
    background: white;
}
.panel .description {
    padding: 5px;
    background-color: #2a3052;
    color: #fff;
}
.panel .description h4 {
    margin: 0;
    text-align: center;
}
table {
	overflow:auto;
	width: 100%;
}
table, th, td {
	border-collapse: collapse;
}
th, td {
	text-align: center !important;
	padding: 3px !important;
	height: 2em;
}
.table-scroll {
    overflow:auto;
	height: 25vh;
    padding-bottom: 1vh;
}
#chart, #tradesDisplay, #summaryDisplay {
	cursor: default;
}
#chart {
	height: 30vh;
	width: 770px;
	background-color: #f2f2f2;
}
.draggable{
	opacity: 1;
}

.spinning img{
	cursor: pointer;
    width: 200px;
    height: 200px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -5rem;
	z-index: 9999;
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.icon-remove:before {
	content: 'X';
}

#topbar {
    width: 100%;
    color: #fff;
    line-height: 1;
    text-align: right;
    padding: 3px 30px;
}

#tours, #accountSelect {
	color: #000;
}

#accountSelect {
    font-size: 14px;
}

.dark-blue {
    background: #15212d;
}

#header {
    background: #2a3052;
    border-top: 2px solid #394171;
    border-bottom: 4px solid #e98024;
    height: 100px;
    font-size: 18px;
    padding: 10px 0;
}

.header-split {
    width: 33.3%;
    padding: 0 10px;
    float: left;
    display: inline-block;
    min-height: 1px;
    box-sizing: border-box;
}

#login, #logout {
    color: #fff;
    letter-spacing: .75px;
    padding: 0 10px;
    font-size: .7em;
    line-height: 2em;
    margin: .5em 0;
}

.invisible {
    display: none;
}

.intro-file-management {
    display: table;
}

#files {
    display: inline-flex;
    vertical-align: middle;
}

#fixed-bar-right {
    position: absolute;
    z-index: 100;
    top: 130px;
    left: 90%;
    width: 10%;
    text-align: center;
    padding: 10px;
    margin-left: 12px;
}
#fixed-bar-right * {
    margin-bottom: 5px;
}
#fixed-bar-right button {
    background-color: #F2F2F2;  
    border: 1px solid #ddd;
    padding: 2.5px 6px;
}
#fixed-bar-right button:hover {
    background-color: #ddd;
}

button:focus {
    outline: none;
}

.blocklyText {
    fill: black !important;
}


.blocklyTreeSelected .blocklyTreeLabel {
    color: white !important;
}

.blocklyTreeRow:not(.blocklyTreeSelected):hover {
    background-color: #dedede !important;
}

.blocklyToolboxDiv .blocklyTreeRow{
    color: black;
}

.blocklyEditableText tspan {
    fill: black !important;
}

.blocklyEditableText rect {
    fill-opacity: 1 !important;
}

.blocklyFlyoutBackground {
    fill: white !important;
    fill-opacity: 1 !important;
    stroke: #dedede;
    stroke-width: 1px;
}

.blocklyToolboxDiv {
    background-color: #f2f2f2 !important;
    border-width: thin;
    color: #dedede;
    border-right: 1px solid;
}

.blocklyIconShape {
    fill: #2a3052 !important;
}

.blocklyIconGroup:not(:hover), .blocklyIconGroupReadonly {
    opacity: 1 !important;
}

.blocklyTrash {
    height: 80px !important;
    width: 62px !important;

}

.blocklyScrollbarVertical, .blocklyScrollbarHorizontal{
    display: none;
}

.box.is-dragover {
  background-color: grey;
}

#dropZone {
    font-weight: bold;
    text-align: center;
    padding: 1em 0;
    margin: 1em 0;
    color: #555;
    border: 2px dashed #555;
    border-radius: 7px;
    cursor: default;
    height: 400px;
    line-height: 350px;
}

#dropZone.hover {
    color: #f00;
    border-color: #f00;
    border-style: solid;
    box-shadow: inset 0 3px 4px #888;
}
