@import 'color';
@import 'fontello';
@import 'panel';
@import 'report';
@import 'blockly-toolbox';
@import 'toolbox';
@import 'header';
@import 'view-tabs';
@import 'reality-check';
@import 'tour';
@import 'controls';

#blocklyDiv {
    position: absolute;
    height: 100%;
    width: 100%;
}

#container {
    position: fixed;
    height: calc(100% - 6.5em);
    width: 100%;
    transition: 0.5s;
    z-index: 1;
}

#center {
    position: fixed;
    width: 1em;
    height: 1em;
    top: 50%;
    left: 50%;
}

.barspinner {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 9999;
}

.icon-remove:before {
    content: 'X';
}

#topbar select {
    color: #000;
    font-size: 1em;
    margin-left: 0.1em;
}

#header {
    width: 100%;
    height: 6.1em;
    border-bottom: 0em;
}

#topbar {
    background-color: $brand-primary-dark;
    width: 100%;
    color: $white;
    text-align: right;
    padding: 0.2em 0.1em;
    display: table;
    float: right;
}

.blocker {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: none;
    top: 0px;
    opacity: 0.3;
    left: 0px;
    background: black;
}

#stopButton {
    display: none;
}

#login {
    float: right;
    width: 3em;
    margin: 1em;
}

select.tour-highlight {
    background: white;
}

html, body {
    height: 100%;
    margin: 0em;
    max-width: 100%;
    max-height: 100%;
    font-size: 1em;
    overflow-x: hidden;
    overflow-y: hidden;
}

*, :before, :after {
    outline: none;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.show-on-load {
  display: none;
}
