@import 'color';
@import 'chart';
@import 'fontello';
@import 'panel';
@import 'blockly-toolbox';
@import 'toolbox';

#blocklyDiv {
    position: absolute;
    height: calc(100% - 6.5em);
    width: 100%;
}

#center {
    position: fixed;
    width: 1em;
    height: 1em;
    top: 50%;
    left: 50%;
}

.barspinner {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 9999;
}

.icon-remove:before {
    content: 'X';
}

#topbar select {
    color: #000;
    font-size: 1em;
    float: right;
    margin-left: 0.1em;
}

#header {
    height: 6.1em;
    width: 100%;
}

.main-nav {
    width: 8em;
}

#topbar {
    background-color: $brand-primary-dark;
    width: 100%;
    color: $white;
    text-align: right;
    padding: 0.2em 0.1em;
    display: table;
    float: right;
}

.left-header {
    float: left;
}

.right-header {
    float: right;
    width: 23%;
    .main-nav>li>ul a li {
      padding: 0.5em 0;
    }
}

.middle-header {
    float: left;
    div {
        display: inline-flex;
        @media #{$phone-screen} {
            padding: 1.5em 0.1em;
            display: block;
        }
    }
    button {
        background-color: $brand-blue;
        padding: 1.5em 1em;
        font-size: 1.1em;
        @media #{$phone-screen} {
            padding: 0.5em 1em;
            display: block;
            width: 7em;
            text-align: left;
        }
        span {
            display: none;
            @media #{$phone-screen} {
                display: inline-block;
            }
        }
    }
    button:hover {
        background-color: $brand-dark-blue;
        span {
            display: inline-block;
        }
    }
    .collapse-menu {
        &.hiddenMenu {
            @media #{$phone-screen} {
                display: none;
            }
        }
        @media #{$phone-screen} {
            padding: 0em;
            position: absolute;
            padding-top: 0.4em;
            z-index: 3;
        }
    }
    #mobileMenu {
        padding: 1.5em 1em;
        font-size: 1.1em;
        margin-bottom: 0.1em;
        display: none;
        @media #{$phone-screen} {
            display: block;
        }
    }
}

#client-logged-in {
    display: none;
}

.topMenuBalance {
    visibility: hidden;
}

#login {
    display: none;
    margin: 0.6em 0;
}

.accountSelect {
    float: right;
    margin-right: 1em;
    .account {
        width: 8em;
        float: right;
        font-size: 1em;
    }
}


.btn-primary {
    color: $white !important;
    text-decoration: none !important;
    background: $brand-btn !important;
    border-color: $brand-btn !important;
}

.btn-primary:active, .btn-primary:hover {
    color: $white !important;
    text-decoration: none !important;
    background-color: $brand-btn-active !important;
    border-color: $brand-btn-active !important;
}

#blocker {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 3;
    display: none;
    top: 0em;
    opacity: 0;
    left: 0em;
    background: white;
}

#stopButton {
    display: none;
}

select.tour-highlight {
    background: white;
}

#container {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0em;
    transition: 0.5s;
    z-index: 1;
}

html, body {
    height: 100%;
    margin: 0em;
    max-width: 100%;
    max-height: 100%;
    font-size: 1em;
    overflow-x: hidden;
    overflow-y: hidden;
}

*, :before, :after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
