@import 'chart';
@import 'fontello';
@import 'panel';
@import 'toolbox';

html, body {
    height: 100%;
    margin: 0em;
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

#blocklyDiv {
    position: absolute;
    height: 100%;
    width: 100%;
}

#center {
    position: fixed;
    width: 1em;
    height: 1em;
    top: 50%;
    left: 50%;
}

.panelExitButton p {
    color: white;
    cursor: pointer;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 0em;
    top: 0em;
    text-align: center;
    border: 1px solid #e98024;
    border-radius: 0 0 0 4px;
    background: #e98024;
    margin: 0em;
}

#summaryPanel {
    width: 800px;
    margin-top: -317px;
    margin-left: -400px;
    z-index: 1001;
}

#fileBrowser {
    width: 388px;
    height: 76px;
    margin-left: -194px;
    margin-top: -38px;
}

#saveAs {
    width: 388px;
    height: 114px;
    margin-left: -194px;
    margin-top: -57px;
}

.panel {
    display: none;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    border: 1px solid #2a3052;
    border-top-color: #ddd;
    z-index: 1002;
}

.panel .content {
    padding: 0 15px 15px 15px;
    background: white;
    cursor: default;
}

.panel .description {
    padding: 5px;
    background-color: #2a3052;
    color: #fff;
}

.panel .description h4 {
    color: white;
    margin: 0;
    text-align: center;
}

table {
    overflow: auto;
    width: 100%;
}

table, th, td {
    border-collapse: collapse;
}

th, td {
    text-align: center !important;
    padding: 3px !important;
    height: 2em;
}

.table-scroll {
    overflow: auto;
    height: 25vh;
    padding-bottom: 1vh;
}

#chart {
    height: 40vh;
    width: 770px;
    background-color: #f2f2f2;
}

.draggable {
    opacity: 1;
}

.barspinner {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -5rem;
    z-index: 9999;
}

.icon-remove:before {
    content: 'X';
}

#header select, #topbar select {
    color: #000;
    font-size: 1em;
}

.dark-blue {
    background: #15212d;
}

#files {
    display: inline-flex;
    vertical-align: middle;
}

#toolbox {
    position: absolute;
    z-index: 100;
    left: 0em;
    width: 4em;
    text-align: center;
    padding: 10px;
}

#toolbox * {
    margin-bottom: 5px;
}

#toolbox button {
    background-color: #F2F2F2;
    border: 1px solid #ddd;
    padding: 2.5px 6px;
    color: black;
}

#toolbox button:hover {
    background-color: #ddd;
}

button:focus {
    outline: none;
}

.box.is-dragover {
    background-color: grey;
}

#header {
    height: 81px;
    width: 100%;
    background-color: #2a3052;
    border-top: 2px solid #394171;
    border-bottom: 4px solid #e98024;
    font-size: 18px;
    padding: 0 20px;
}

#topbar {
    background-color: #15212d;
    width: 100%;
    color: #fff;
    line-height: 1;
    font-size: 70%;
    text-align: right;
    padding: 3px 20px;
    display: table;
}

.left-header {
    float: left;
}

.right-header {
    float: right;
}

#client-logged-in {
    display: none;
}

.topMenuBalance {
    visibility: hidden;
}

#login {
    display: none;
    margin: 0.6em 0;
}

.account {
    font-size: 16px;
}

.btn-primary {
    color: #FFF !important;
    text-decoration: none !important;
    background: #2E8836 !important;
    border-color: #2E8836 !important;
}

.btn-primary:active, .btn-primary:hover {
    color: #FFF !important;
    text-decoration: none !important;
    background-color: #14602B !important;
    border-color: #14602B !important;
}

#blocker {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: none;
    top: 0em;
    opacity: 0;
    left: 0em;
    background: white;
}

#stopButton {
    display: none;
}

select.tour-highlight {
    background: white;
}

.actions_menu {
    display: none;
}

#container {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0em;
    transition: 0.5s;
}
