.brand-blue {
  color: #2a3052; }

.brand-blue-bg {
  background-color: #2a3052; }

.brand-orange {
  color: #e98024; }

.brand-orange-bg {
  background-color: #e98024; }

.highcharts-container {
  width: 100% !important; }
  .highcharts-container svg {
    width: 100% !important; }

.highcharts-loading {
  background: transparent !important; }
  .highcharts-loading > span {
    padding: 0.5em 1em;
    border-radius: 3px;
    color: #bebebe !important;
    background: #161a24 !important; }
    .inverse .highcharts-loading > span {
      color: #161a24 !important;
      background: #bebebe !important; }

.inverse .trade-chart {
  color: #bebebe; }

.trade-chart,
.contract-chart {
  font-size: 12px;
  color: #3e3e3e; }
  .trade-chart button,
  .contract-chart button {
    color: #3e3e3e; }
    .trade-chart button:hover,
    .contract-chart button:hover {
      background: rgba(42, 48, 82, 0.1); }
  .inverse .trade-chart button, .inverse
  .contract-chart button {
    color: #bebebe; }
    .inverse .trade-chart button:hover, .inverse
    .contract-chart button:hover {
      background: rgba(190, 190, 190, 0.1); }

.trade-chart .binary-chart-zoom-controls,
.contract-chart .binary-chart-zoom-controls {
  visibility: hidden;
  opacity: 0; }
.trade-chart:hover .binary-chart-zoom-controls,
.contract-chart:hover .binary-chart-zoom-controls {
  visibility: visible;
  opacity: 1; }

.trade-chart {
  height: 40vh;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  min-height: 0; }
  .trade-chart #trade-chart0,
  .trade-chart #trade-chart1,
  .trade-chart #trade-chart2,
  .trade-chart #trade-chart3,
  .trade-chart #trade-chart4 {
    height: calc(100% - 60px); }

.binary-chart-time-frame-picker {
  height: 24px; }

.binary-chart-time-frame-button {
  background: rgba(190, 190, 190, 0.25) !important;
  margin-right: 2px;
  padding: 0 !important; }

.binary-chart-submenu {
  border-radius: 3px;
  background: white;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.5); }

.inverse .binary-chart-submenu {
  background: #161a24; }

.binary-chart-submenu button {
  color: #3e3e3e;
  background: transparent;
  border-radius: 0; }

.binary-chart-picker-item,
.binary-chart-button {
  text-align: left;
  padding: 8px;
  min-height: 30px;
  min-width: 30px;
  display: flex;
  align-items: center; }
  .binary-chart-picker-item svg + span,
  .binary-chart-button svg + span {
    margin-left: 8px; }

.binary-chart-button:hover,
.binary-chart-picker-item:hover,
.binary-chart-time-frame-button:hover {
  box-shadow: 0 0 0 1px #3e3e3e; }
.inverse .binary-chart-button:hover, .inverse
.binary-chart-picker-item:hover, .inverse
.binary-chart-time-frame-button:hover {
  box-shadow: 0 0 0 1px #bebebe; }

.pressed {
  background: #2a3052 !important; }
  .pressed svg {
    fill: #bebebe; }

.binary-chart-zoom-button {
  opacity: 0.75;
  background: rgba(42, 48, 82, 0.25) !important; }
  .binary-chart-zoom-button svg {
    fill: #2a3052;
    margin-bottom: 4px; }
  .binary-chart-zoom-button:hover {
    opacity: 1;
    box-shadow: 0 0 0 1px #2a3052; }

.inverse .binary-chart-zoom-button {
  opacity: 0.75;
  background: rgba(190, 190, 190, 0.25) !important; }
  .inverse .binary-chart-zoom-button svg {
    fill: #bebebe; }
  .inverse .binary-chart-zoom-button:hover {
    opacity: 1;
    box-shadow: 0 0 0 1px #bebebe; }

.binary-chart-toolbar {
  height: 30px;
  margin-bottom: 2px; }

.binary-chart-toolbar > * {
  margin-right: 2px; }

.binary-chart-button {
  background: rgba(42, 48, 82, 0.1);
  border-radius: 3px;
  min-width: 28px;
  padding: 5px;
  flex: 1;
  align-items: center; }

.binary-chart-button svg,
.binary-chart-picker-item svg {
  width: 16px;
  height: 16px;
  fill: #161a24; }
.inverse .binary-chart-button svg, .inverse
.binary-chart-picker-item svg {
  fill: white; }

.binary-chart-info-bar {
  padding: 0.5em 1em;
  opacity: 0.9;
  border-radius: 3px;
  background: #161a24;
  color: #bebebe; }
  .binary-chart-info-bar .value-row {
    font-weight: bold; }
  .binary-chart-info-bar > div {
    line-height: 1.5;
    display: flex; }
    .binary-chart-info-bar > div > span {
      flex: 1; }
  .inverse .binary-chart-info-bar {
    background: white;
    color: #3e3e3e; }

.highcharts-tooltip {
  display: none !important; }
