<!DOCTYPE html>
<html>
<head>
{{> security }}

{{> head }}
	<title>Binary Bot</title>

{{> fontello_css }}

{{> bundle_css }}
{{> bot_css }}
{{> chart_css }}
<link rel="stylesheet" href="https://style.binary.com/binary.css">

</head>
<body>
  <div class="spinning"><img src="image/binary-symbol-logo.svg"/></div>
  <div id="center"></div>
  <div id="blocker"></div>
 <div class="spinning"><img src="image/binary-symbol-logo.svg"/></div>
  <div id="topbar">
	  <div class="right-header">
	    {{> language }}
	    <select id="tours">
	              <option value="" data-i18n-text="Select a Tour"></option>
	      <option value="welcome" data-i18n-text="Welcome!"></option>
	      <option value="introduction" data-i18n-text="Introduction"></option>
	    </select>
	  </div>
  </div>
  <div id="header">
      <div class="left-header">
        <a href="" id="logo">
          <img class="symbol-logo" src="image/binary-symbol-logo.svg" alt="Binary-logo" />
          <img class="type-logo" src="image/binary-type-logo.svg" alt="Binary-logo">
        </a>
      </div>
      <div class="right-header">
        <div class="intro-login-logout">
          <div>
            <select id="accountSelect"></select>
          </div>
          <div class="login-logout">
            <button id="logout" data-i18n-text="Log out"></button>
            <button title="Add your tokens to the bot" id="login" data-i18n-text="Log in"></button>
          </div>
        </div>
      </div>
  </div>
  <div id="blocklyDiv"></div>
  <div id="summaryPanel" class="panel">
      <div class="panelExitButton"><p class="icon-close"></p></div>
      <div class="description">
          <h4 data-i18n-text="Results"></h4>
      </div>
    <div class="content">
      <h4>
        <span data-i18n-text="Summary"></span>
      </h4>
      <table id="summaryDisplay">
        <thead>
          <tr>
            <th data-i18n-text="No. of runs"></th>
            <th data-i18n-text="Total Stake"></th>
            <th data-i18n-text="Total Payout"></th>
            <th data-i18n-text="Total Profit/Loss"></th>
            <th data-i18n-text="Balance"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="totalRuns"></td>
            <td class="totalStake"></td>
            <td class="totalPayout"></td>
            <td class="totalProfit"></td>
            <td class="balance"></td>
          </tr>
        </tbody>
      </table>
      <h4>
        <span data-i18n-text="Trades"></span>
      </h4>
      <div class="table-scroll">
        <table id="tradesDisplay">
          <thead>
            <tr>
              <th><span data-i18n-text="Number"></span></th>
              <th><span data-i18n-text="Reference"></span></th>
              <th><span data-i18n-text="Trade Type"></span></th>
              <th><span data-i18n-text="Entry Spot"></span></th>
              <th><span data-i18n-text="Exit Spot"></span></th>
              <th><span data-i18n-text="Buy Price"></span></th>
              <th><span data-i18n-text="Final Price"></span></th>
              <th><span data-i18n-text="Profit/Loss"></span></th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <div id="chart"></div>
    </div>
  </div>
  <div id="fileBrowser" class="panel">
    <div class="panelExitButton"><p class="icon-close"></p></div>
    <div class="description">
        <h4 data-i18n-text="Load block file"></h4>
    </div>
    <div class="content">
      <span data-i18n-text="Block file"></span> <input title="Open an already saved XML file and retrieve its blocks" type="file" id="files" accept=".xml" />
      <div id="dropZone">
        Drop your block here
      </div>
    </div>
  </div>
  <div id="saveAs" class="panel">
    <div class="panelExitButton"><p class="icon-close"></p></div>
    <div class="description">
        <h4 data-i18n-text="Save blocks as"></h4>
    </div>
    <div class="content">
      <form id="saveAsForm">
        <span data-i18n-text="Filename"></span>: <input title="Choose filename for your blocks" type="text" id="saveAsFilename" value="binary-bot"/>
        <div>
          <label title="Save your blocks individually in a collection. They will be added to your existing workspace (main blocks will be replaced) when loaded." for="Collection" data-i18n-text="Save As Collection" style="font-weight: normal"></label>
          <input title="Save your blocks individually in a collection. They will be added to your existing workspace (main blocks will be replaced) when loaded." name="Collection" type="checkbox" id="saveAsCollection" style="margin-left: 4px"/>
          <button data-i18n-text="Save" type="submit" id="saveAsButton" style="float: right; padding: 6px; text-transform: uppercase;"></button>
        </div>
      </form>
    </div>
  </div>
  <div id="fixed-bar-right" class="actions_menu">
      <div class="group-save">
        <div><button title="Load the blocks as an XML file" id="loadXml" class="icon-browse"></button></div>
        <div><button title="Save the blocks as an XML file" id="saveXml" class="icon-save"></button></div>
      </div>
      <div class="group-undo-redo">
        <div><button title="Undo the changes (Ctrl+Z)" id="undo" class="icon-undo"></button></div>
        <div><button title="Redo the changes (Ctrl+Shift+Z)" id="redo" class="icon-redo"></button></div>
      </div>
      <div class="group-summary">
        <div><button title="Open the summary panel" id="showSummary" class="icon-summary"></button></div>
      </div>
      <div class="group-reset">
        <div><button title="Reset the blocks" id="resetButton" class="icon-reset"></button></div>
      </div>
      <div class="group-start-stop">
        <div><button title="Run the blocks" id="runButton" class="icon-run"></button></div>
        <div><button title="Stop the blocks" id="stopButton" class="icon-stop"></button></div>
      </div>
  </div>

  <script src="js/blockly/blockly.js"></script>
  <script src="js/bundle.js"></script>
  {{> bot}}

</body>
</html>
