<!DOCTYPE html>
<html>
{{> ./partials/head }}
  <title>Binary trade strategies</title>
	{{> main_css }}
</head>
<body>
<div class="header">
	<h1>Strategy List</h1>
</div>
<div class="content">
	<ul>
		<li>
		<a href="xml/strategy/martingale.xml" download>Martingale Strategy</a>
		</li>
	</ul>
</div>
</body>
</html>

