//Brand colors

//$primaryBrandColor:   #2A3052;

//Secondary colors
//$COLOR_LIGHT_GRAY:  #F2F2F2;
//$borderColor:     #DEDEDE;
//$black: #44484C;
//$primaryBrandColor: #394171;
//$darkPrimaryBrandColor: #15212D;
//$noticeColor:    #FEF1CF;
//$positiveColor:     #2E8836;
//$darkPositiveColor: #14602B;
//$contentColor:     #000;
//$contentInverseColor:     #FFF;

/* stylelint-disable color-no-hex */
$black: #000;
$white: #fff;
$primaryBrandColor: #2a3052;
$darkPrimaryBrandColor: #15212d;
$secondaryBrandColor: #e98024;
$contentColor: #000;
$contentInverseColor: #fff;
$secondaryContentColor: #c2c2c2;
$borderColor: #dedede;
$fillColor: #f2f2f2;
$positiveColor: #2e8836;
$darkPositiveColor: #14602b;
$negativeColor: #c03;
$noticeColor: #fef1cf;
$chartColor: #6b8fb9;
$chartAreaColor: rgba(128, 179, 236, 0.3);
$lightBlue: #29abe2;
$darkGray: #44484c;
$darkWhite: #ccc;
/* stylelint-enable color-no-hex */