@import "colors-binary";
@import "constants-deriv";
@import "constants";
@import "theme";
@import "mixins";
@import "common";
@import "inline-icons";
@import "fonts";
@import "settings-language";
@import "devices";
@import "header";
@import "footer";
@import "popover";

.header {
    font-size: $FONT_BASE;
    font-family: $FONT_STACK;
}
.footer {
    font-size: $FONT_SIZE_XXS;
    font-family: $FONT_STACK;
}
a:hover {
    text-decoration: none;
}

#summaryPanel {
    & > div {
        @include mobile {
            overflow: scroll;
        }
    }
    & .stage {
        @include mobile {
            margin: 0 !important;
            max-width: 33%;
        }
    }
    & .line {
        @include mobile{
            width: 1300% !important;
        }
    }
}
#current-trade-status {
    @include mobile {
        width: 100%;
    }
}
.ui-dialog {
    @include mobile {
        width: 90vw !important;
    }
}

.content-row {
    overflow-x: auto;
    &-table{
        overflow-x: auto;
        @include mobile {
            width: 760px;
        }
    }
    & > div {
        overflow: auto !important;
    }
    & table {
        @include mobile {
            min-width: 760px;
        }
        overflow: auto;
    }
}

.notifyjs {
    &-corner {
        @include mobile {
            max-width: 90vw;
        }
    }
    &-bootstrap{
        &-info{
            @include mobile {
                white-space: break-spaces !important;
            }
        }
        &-base{
            @include mobile {
                background-position: left !important;
            }
        }
    }
}
.barspinner{
    @include mobile{
        margin-left: -5% !important;
    }
}