:host, :root {
    // Text sizes
    --text-size-xxs: 1.2em;
    --text-size-xs: 1.4em;
    --text-size-s: 1.6em;
    --text-size-sm: 2em;
    --text-size-m: 2.4em;
    --text-size-l: 3.2em;
    --text-size-xl: 4.8em;
    --text-size-xxl: 6.4em;

    // Brand primary colors
    --brand-dark-grey: #{$color-black};
    --brand-red-coral: #{$color-red};
    --brand-orange: #{$color-orange};
    // Brand secondary colors
    --brand-secondary: #{$color-green};

    // .theme--light {
    // General
    --general-main-1: #{$color-white};
    --general-main-2: #{$color-white};
    --general-section-1: #{$color-grey-2};
    --general-section-2: #{$color-grey-2};
    --general-disabled: #{$color-grey-3};
    --general-hover: #{$color-grey-4};
    --general-active: #{$color-grey-5};
    // Icons and Texts
    --text-prominent: #{$color-black-1};
    --text-general: #{$color-black-1};
    --text-less-prominent: #{$color-grey-1};
    --text-disabled: #{$color-grey-6};
    --text-profit-success: #{$color-green-1};
    --text-loss-danger: #{$color-red-1};
    --text-colored-background: #{$color-white};
    // Purchase
    --purchase-main-1: #{$color-green-1};
    --purchase-section-1: #{$color-green-2};
    --purchase-main-2: #{$color-red-1};
    --purchase-section-2: #{$color-red-4};
    --purchase-disabled-main: #{$color-grey-3};
    --purchase-disabled-section: #{$color-grey-4};
    // Buttons
    --button-primary-default: var(--brand-red-coral);
    --button-secondary-default: #{$color-grey-1};
    --button-tertiary-default: transparent;
    --button-primary-hover: #{$color-red-5};
    --button-secondary-hover: #{$alpha-color-black-3};
    --button-tertiary-hover: #{$alpha-color-red-1};
    // Overlay
    --overlay-outside-dialog: #{$alpha-color-black-1};
    --overlay-inside-dialog: #{$alpha-color-white-1};
    // Shadow
    --shadow-menu: #{$alpha-color-black-4};
    // States
    --state-normal: #{$color-white};
    --state-hover: #{$color-grey-4};
    --state-active: #{$color-grey-5};
    --state-disabled: #{$color-grey-3};
    // Border
    --border-normal: #{$color-grey-5};
    --border-hover: #{$color-grey-1};
    --border-active: var(--brand-secondary);
    --border-disabled: #{$color-grey-3};
    // Fill
    --fill-normal: #{$color-white};
    --fill-hover: #{$color-grey-1};
    --fill-active: var(--brand-secondary);
    --fill-disabled: #{$color-grey-3};
    // Status
    --status-default: #{$color-grey-3};
    --status-danger: #{$color-red-1};
    --status-success: #{$color-green-1};
    --status-warning: #{$color-yellow};
    --status-info: #{$color-blue};
    --status-colored-background: #{$color-white};
    // Transparentize
    --transparent-success: #{$alpha-color-green-1};
    /* TODO: change to styleguide later */
    // Gradient
    --gradient-success: #{$gradient-color-green-1};
    --gradient-danger: #{$gradient-color-red-1};
    /* }
    .theme--dark {
        // General
        --general-main-1: #{$color-black};
        --general-main-2: #{$color-black-3};
        --general-section-1: #{$color-black-3};
        --general-section-2: #{$color-black};
        --general-disabled: #{$color-black-4};
        --general-hover: #{$color-black-5};
        --general-active: #{$color-black-8};
        // Icons and Texts
        --text-prominent: #{$color-white};
        --text-general: #{$color-grey};
        --text-less-prominent: #{$color-grey-7};
        --text-disabled: #{$color-black-6};
        --text-profit-success: #{$color-green-3};
        --text-loss-danger: #{$color-red-2};
        --text-colored-background: #{$color-white};
        // Purchase
        --purchase-main-1: #{$color-green-3};
        --purchase-section-1: #{$color-green-4};
        --purchase-main-2: #{$color-red-2};
        --purchase-section-2: #{$color-red-3};
        --purchase-disabled-main: #{$color-black-4};
        --purchase-disabled-section: #{$color-black};
        --button-primary-default: var(--brand-red-coral);
        --button-secondary-default: #{$color-grey-7};
        --button-tertiary-default: transparent;
        --button-primary-hover: #{$color-red-5};
        --button-secondary-hover: #{$alpha-color-white-3};
        --button-tertiary-hover: #{$alpha-color-red-1};
        // Overlay
        --overlay-outside-dialog: #{$alpha-color-black-1};
        --overlay-inside-dialog: #{$alpha-color-black-2};
        // Shadow
        --shadow-menu: #{$alpha-color-black-5};
        // States
        --state-normal: #{$color-black};
        --state-hover: #{$color-black-5};
        --state-active: #{$color-black-8};
        --state-disabled: #{$color-black-4};
        // Border
        --border-normal: #{$color-black-8};
        --border-hover: #{$color-grey-7};
        --border-active: var(--brand-secondary);
        --border-disabled: #{$color-black-4};
        // Fill
        --fill-normal: #{$color-black};
        --fill-hover: #{$color-grey-7};
        --fill-active: var(--brand-secondary);
        --fill-disabled: #{$color-black-4};
        // Status
        --status-default: #{$color-grey-3};
        --status-danger: #{$color-red-2};
        --status-warning: #{$color-yellow};
        --status-success: #{$color-green-3};
        --status-info: #{$color-blue};
        --status-colored-background: #{$color-white};
        // Transparentize
        --transparent-success: #{$alpha-color-green-2};
        // TODO: change to styleguide later
        // Gradient
        --gradient-success: #{$gradient-color-green-2};
        --gradient-danger: #{$gradient-color-red-2};
    } */
}
