html, body {
		height: 100%;
		margin: 0px;
}
body {

	backgroun-color: #fff;
	font-family: sans-serif;
}
h1 {
	font-weight: normal;
	font-size: 140%;
}
#drop_zone{
	height: 100%;
	width: 100%;
}
.toolbox * {
	margin: 2px;
	float: left;
}
#blocklyDiv{
	height: 100%;
	width: 100%;
	right: 100px;
	bottom: 0px;
}
.help{
	float: right;
	margin: 2px;
}
.logout{
	float: right;
	margin: 2px;
}
#center {
	position: fixed;
	width: 1px;
	height: 1px;
	top: 50%;
	left: 50%;
}
#outputPanel {
	width: 200px;
	position: fixed;
	right: -185px;
	top: 20%;
	z-index: 9999;
	height: 320px;
}
#outputPanel .results{
	background-color: #DDDDDD;
	margin-left: 15px;
	display: none;
	padding: 3px;
}
#outputPanel .showPanel{
	cursor: pointer;
	background-color: green;
	width: 15px;
	height: 30px;
	position: absolute;
	left: 0px;
	top: 50%;
	text-align: center;
}
#outputPanel .hidePanel{
	cursor: pointer;
	background-color: green;
	width: 15px;
	height: 30px;
	position: absolute;
	left: 0px;
	top: 50%;
	text-align: center;
	display: none;
}
#outputPanel .hidePanel p{
	color: white;
	margin-top: 4px;
}
#outputPanel .showPanel p{
	color: white;
	margin-top: 4px;
}
#ticksDisplay{
	height: 8em;
	overflow:hidden;
	overflow-y:scroll;
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}
#summaryPanel .exitPanel p{
	color: white;
	background-color: black;
	margin-top: 4px;
	cursor: pointer;
	width: 20px;
	height: 20px;
	position: absolute;
	right: 10px;
	top: 10px;
	text-align: center;
}
#summaryPanel{
	display: none;
	background-color: white;
	z-index: 9998;
	position: fixed;
	width: 80%;
	top: 5%;
	left: 10%;
}
#summaryPanel .content{
	padding: 15px;
	background-color: #EEEEEE;
}
table {
	overflow:auto;  
	width: 100%;
}
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}
th, td {
	text-align: center !important;
	padding: 3px !important;
	height: 2em;
}
.table-scroll {
  overflow:auto;  
}
#chart {
	height: 40%;
}
