html, body {
	height: 100%;
	margin: 0;
}
body {
	display: flex;
}
h1 {
	font-weight: normal;
	font-size: 140%;
}
.header, .toolbox {
    display: flex;
}
.header {
	padding: .25rem;
	background: #2a3052 !important;
	font-size: 14px;
    justify-content: space-between;
}
.header button {
	margin-right: .5rem;
}
.workspace {
   flex: 1;
   display: flex;
}
#blocklyDiv {
	flex: 1;
}
#center {
	position: fixed;
	width: 1px;
	height: 1px;
	top: 50%;
	left: 50%;
}
#summaryPanel .exitPanel p{
	color: white;
	background-color: black;
	margin-top: 4px;
	cursor: pointer;
	width: 20px;
	height: 20px;
	position: absolute;
	right: 10px;
	top: 10px;
	text-align: center;
}
#summaryPanel{
	display: none;
	background-color: white;
	z-index: 1001;
	position: fixed;
	width: 800px;
	height: 600px;
	top: 50%;
	left: 50%;
	margin-top: -300px;
	margin-left: -400px;
}
#summaryPanel .content{
	padding: 15px;
	background-color: #EEEEEE;
}
.table-scroll {
  	overflow: auto;
	height: 169px;
}
#chart, #tradesDisplay, #summaryDisplay {
	cursor: default;
}
#chart {
	height: 270px;
	width: 770px;
}
.draggable{
	opacity: 0.75;
}
