.header {
	position: fixed;
	top: 100px;
	text-align: center;
	width: 100%;
	background-color: white;
}
.content {
	width: 100%;
	position: fixed;
	top: 200px;
	text-align: center;
	background-color: white;
}
.get_started {
	color: white;
	background-color: red;
	padding: 5px;
}
