html, body {
		height: 100%;
		margin: 0px;
}
body {

	backgroun-color: #fff;
	font-family: sans-serif;
}
h1 {
	font-weight: normal;
	font-size: 140%;
}
#drop_zone{
	height: 100%;
	width: 100%;
	position: fixed;
}
.toolbox {
}
.toolbox * {
	margin: 2px;
	float: left;
}
#blocklyDiv{
	height: 100%;
	width: 100%;
}
.help{
	float: right;
	margin: 2px;
}
.shepherd-content,header {
	background-color: #55a892 !important;
	color: white !important;
}
.shepherd-button-example-primary {
	background-color: #b3eecf !important;
	color: black !important;
}

.shepherd-element.shepherd-element-attached-center.shepherd-element-attached-top .shepherd-content::before, .shepherd-element.shepherd-element-attached-center.shepherd-element-attached-bottom .shepherd-content::before {
	border-bottom-color: #55a892 !important;
}
.shepherd-element.shepherd-element-attached-middle.shepherd-element-attached-left .shepherd-content::before, .shepherd-element.shepherd-element-attached-middle.shepherd-element-attached-right .shepherd-content::before {
	border-right-color: #55a892 !important;
}
.shepherd-content textarea{
	width: 350px;
}
